<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-md-11 col-centered">
                <div class="row">
                    <div class="col-md-12 pt-4 pb-4">
                        <h5 class="mb-0 text-center">Your Current plan</h5>
                    </div>
                </div>
                <ng-container *ngIf="previousPlanExpiry">
                    <div class="row" [hidden]="isActivePlan==1">
                        <div class="col-md-12 pb-4">
                            <p class="font-bold mb-0 text-center text-danger">Your plan is expired choose other plan.
                            </p>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <ng-container *ngIf="planList.length else plannotfound">
                        <ng-container *ngFor="let plan of planList">
                            <div class="col-xs-12 col-sm-12 col-lg-3 mb-4">
                                <i class="fa fa-check font-size-30 pull-right current-plan" *ngIf="plan.isActive==1"></i>
                                <div class="card plan-card">
                                    <img class="card-img-top plan-image" src="assets/img/image.png" alt="Plan Image"
                                        class="card-img" />
                                    <div class="card-img-overlay plan-heading text-white">
                                        <h4 class="card-title text-center" [innerHTML]="plan.name"></h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">{{ plan.price == 0.00 ? 'FREE' : '€  '+plan.price}}</h4>
                                        <p class="plan-descrption text-center">
                                            <span class="plan-post-count">{{plan.totalPost}}</span>
                                            <sup class="plan-post-text">POST</sup>
                                            <span class="plan-post-separator">|</span>
                                            <span class="plan-post-valid">FOR {{plan.day}} DAYS</span>
                                        </p>
                                    </div>
                                    <div class="card-footer plan-card-footer">
                                        <button type="button" [disabled]="freePlanSelected" (click)="onSelectFreePlan(plan.id,freePlanSelected)" *ngIf="plan.price==0" title="Select" name="freePlan" id="freePlan" class="rounded-pill btn plan-button">SELECT</button>
                                        <button type="button"  (click)="openPaymentModel(plan.id)" *ngIf="plan.price!=0" title="Select" name="pricePlan" id="pricePlan" class="rounded-pill btn plan-button">SELECT</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #plannotfound>
                        <div class="col-md-12">
                            <p class="text-center">Plan not found</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>



<modal #paymentModal>
    <modal-header>
        <div class="d-flex">
            <div class="">
                <h4 class="mb-0">Payment</h4>
            </div>
            <div class="float-right payment-image-section">
                <img src="assets/img/payment.jpeg" width="150px" alt="Payment Image" />
            </div>
        </div>
    </modal-header>
    <modal-content>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <form novalidate (ngSubmit)="getToken()" [formGroup]="stripeForm">
                        <div class="form-group">
                            <label class="text-danger" id="message">{{paymentErrorMessage}}</label>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-left">Card Number</label>
                            <input type="text" class="form-control" name="cardNumber" formControlName="cardNumber"
                                id="cardNumber" title="Card Number" placeholder="Card Number" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardNumber').hasError('required') && (stripeForm.get('cardNumber').touched || stripeFormSubmited)">
                                Please enter card number
                            </div>
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardNumber').hasError('pattern') && (stripeForm.get('cardNumber').touched || stripeFormSubmited)">
                                Please enter only number
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-left">Card Expiry Month</label>
                            <input type="text" class="form-control" name="cardMonth" formControlName="cardMonth"
                                id="cardMonth" title="Card Expiry Month" placeholder="Card Expiry Month" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardMonth').hasError('required') && (stripeForm.get('cardMonth').touched || stripeFormSubmited)">
                                Please enter card expiry month
                            </div>
                            <div class="invalid-feedback d-block"
                                *ngIf="(stripeForm.get('cardMonth').hasError('minlength') || stripeForm.get('cardMonth').hasError('maxlength')) && (!stripeForm.get('cardMonth').hasError('pattern'))  && (stripeForm.get('cardMonth').touched || stripeFormSubmited)">
                                Please enter valid month (MM)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-left">Card Expiry Year</label>
                            <input type="text" class="form-control" name="cardYear" id="cardYear"
                                formControlName="cardYear" title="Card Expiry Year" placeholder="Card Expiry Year" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardYear').hasError('required') && (stripeForm.get('cardYear').touched || stripeFormSubmited)">
                                Please enter card expiry year
                            </div>
                            <div class="invalid-feedback d-block"
                                *ngIf="!stripeForm.get('cardYear').hasError('required') && (stripeForm.get('cardYear').hasError('minlength') || stripeForm.get('cardYear').hasError('maxlength')) && (!stripeForm.get('cardYear').hasError('pattern'))  &&  (stripeForm.get('cardYear').touched || stripeFormSubmited)">
                                Please enter valid year (YYYY)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-left">Card CVV</label>
                            <input type="text" class="form-control" name="cardCVV" id="cardCVV"
                                formControlName="cardCVV" title="Card CVV" placeholder="Card Cvv" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardCVV').hasError('required') && (stripeForm.get('cardCVV').touched || stripeFormSubmited)">
                                Please enter card cvv
                            </div>
                            <div class="invalid-feedback d-block"
                                *ngIf="!stripeForm.get('cardCVV').hasError('required') && (stripeForm.get('cardCVV').hasError('minlength') || stripeForm.get('cardCVV').hasError('maxlength')) && (!stripeForm.get('cardCVV').hasError('pattern'))  && (stripeForm.get('cardCVV').touched || stripeFormSubmited)">
                                Please enter valid cvv
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue text-white" title="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </modal-content>
</modal>