<section class="section-style-1">
    <div class="container">
        <div class="bg-white p-4">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-2">
                            <img [src]="jobDetails.image" width="100" height="100" />
                        </div>
                        <div class="col-md-10 align-self-center">
                            <h3 class="text-blue font-weight-bold mb-0">{{jobDetails.position}}</h3>
                        </div>         
                    </div>
                    <div class="row">                        
                        <div class="col-md-12 ">
                            <p class="text-blue  mt-2 font-weight-bold">{{jobDetails.description}}</p>
                        </div>         
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-4 border">
                                <div>
                                    <h3 class="text-blue text-center font-weight-bold">Job Details</h3>
                                </div>
                            <div class="">
                                <b>Address</b>
                                <p>{{jobDetails.location}}</p>  
                            </div>
                            <div class="" *ngIf="jobDetails.siftRosterOn">
                                <b>Sift roster on time</b>
                                <p>{{jobDetails.siftRosterOnTime}} days</p>  
                            </div>
                            <div class="" *ngIf="jobDetails.siftRosterOff">
                                <b>Sift roster off time</b>
                                <p>{{jobDetails.siftRosterOffTime}} days</p>  
                            </div>
                            <div class="">
                                <b>Hour per day</b>
                                <p>{{jobDetails.hourPerDay}}</p>  
                            </div>
                            <div class="">
                                <b>Days shift</b>
                                <p>{{jobDetails.dayShift}}</p>  
                            </div>
                            <div class="">
                                <b>Night shift</b>
                                <p>{{jobDetails.nightShift}}</p>  
                            </div>                            
                            <div class="">
                                <b>Rate</b>
                                <p>{{jobDetails.rate}}</p>  
                            </div>                            
                            <div class="">
                                <b>Contract start</b>
                                <p>{{jobDetails.contractStart}}</p>  
                            </div>                      
                            <div class="">
                                <b>Contract end</b>
                                <p>{{jobDetails.contractEnd}}</p>  
                            </div>
                            <div class="">
                                <button type="button" class="btn button-1" (click)="redirectToJob()">Apply</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
