<div class="nav-side-menu" #menuBar id="menuBar">
    <div class="brand pt-4 pb-4 text-center">
        <img src="assets/img/logo.svg" title="Aviacontractor" alt="Aviacontractor" class="img-fluid" />
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="sidebar-inner">
        <div class="sidebar-wrapper mt-auto">
            <ul id="menu-content" class="menu-content collapse out nav" #navbar>
                <li class="active">
                    <a class="text-white" title="Jobs" routerLinkActive="active " routerLink="/contractor/jobs">JOBS</a>
                </li>
                <li class="">
                    <div  class="apply-job-counter" *ngIf="approvedJobCounter"><sup>{{approvedJobCounter}}</sup></div>
                    <a class="text-white" title="My Jobs" routerLinkActive="active " routerLink="/contractor/my-jobs">MY JOBS</a>
                </li>
                <li class="">
                    <a class="text-white" title="Profile" routerLinkActive="active " routerLink="/contractor/profile">PROFILE</a>
                </li>
                <li class="">
                    <a class="text-white" title="Timesheet" routerLinkActive="active " routerLink="/contractor/timesheets">TIME SHEETS</a>
                </li>
                <li class="">
                    <a class="text-white" title="Faq" routerLinkActive="active " routerLink="/contractor/faq">FAQ</a>
                </li>
                <li class="">
                    <a class="text-white" title="Chat" routerLinkActive="active " routerLink="/contractor/chat">CHAT</a>
                </li>
                <li class="responsive-menu-only logout">
                    <a class="text-white" title="Logout" href="javascript:void(0)" (click)="logout()">LOGOUT</a>
                </li>
                <li class="responsive-menu-only">
                    <a class="text-white" title="Contact Us" routerLinkActive="active " routerLink="/contractor/contact-us">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-action mt-auto">
            <ul id="menu-content" class="menu-content collapse out nav" #navbar>
                <li class="active">
                    <a class="text-white" title="Logout" href="javascript:void(0)" (click)="logout()">LOGOUT</a>
                </li>
                <li class="">
                    <a class="text-white" title="Contact Us" routerLinkActive="active " routerLink="/contractor/contact-us">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>    
</div>