.apply-job-counter{
    position: absolute;
    right: 46%;
    margin-top: -1px;
    border: 2px solid #FFF;
    width: 25px;
    height: 25px;
    border-radius: 45px;
}

.apply-job-counter sup{
    margin-top: 15px;
    margin-left: 7px;
    position: absolute;
}