.timesheet-column{
    width: 100%;    
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.timesheet-left-arrow,
.timesheet-right-arrow{
   width: 15px;   
   padding-top: 15px;
   padding-bottom: 15px;
}
.btn-add-timesheet{
    padding: 5px 12px;
    background-color: #8f0a0d;
    border-radius: 50px;
    color: #FFF;
    width:70px;
    height: 49px;
}
.btn-update-timesheet div:first-child
{
    border-bottom: 1px solid #FFF;
}
.btn-update-timesheet div{
    font-size: 12px;
    font-weight: bold;
}
.btn-update-timesheet{
    width:70px;
    padding: 5px 12px;
    background-color: #088b11;
    border-radius: 50px;
    color: #FFF;
}
.timesheet-heading,
.timesheet-body{
    display: flex;
    align-items: center;
}
.timesheet-body{
    padding: 0 15px;
}
@media (max-width: 767.98px){
    .timesheet-column h2{
        font-size: 14px;
    }
    .btn-add-timesheet,
    .btn-update-timesheet{
        width: 95%;
        padding: 2px;
        min-height: 49px;
        font-size: 10px;
    }
    .btn-update-timesheet div{
        font-size: 10px;
    }
}