<!-- <div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-8 col-centered">
              <div class="con-job-serch-form">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>{{startDate | date:'MMMM'}}</h3>
            </div>
            <div class="col-md-10">
                <div class="timesheet-heading">
                    <div class="timesheet-left-arrow">
                        <h2 class="mb-0">
                            <a (click)="onChangeDate(0)">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </h2 >
                    </div>
                    <div class="timesheet-column" *ngFor="let dates of datesList;let i = index;">
                        <h2 class="mb-0">
                            {{dates.date | date:'d'}}
                        </h2>
                    </div>
                    <div class="timesheet-right-arrow">
                        <h2 class="mb-0">
                            <a (click)="onChangeDate(1)">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="timesheet-body">
                    <div  class=" timesheet-left-arrow"></div>
                    <div  class=" timesheet-column" *ngFor="let dates of datesList;let i = index;">
                        <button type="button" *ngIf="!dates.isEditable && dates.isPresent" (click)="openModal(dates)" class="btn btn-add-timesheet">Add +</button>
                        <button type="button" *ngIf="dates.isEditable && dates.isCurrentMonth" (click)="openModal(dates)" class="btn btn-update-timesheet">
                            <div>{{dates.startTime}}</div>
                            <div >{{dates.endTime}}</div>
                        </button>
                        <button type="button" *ngIf="dates.isEditable && !dates.isCurrentMonth" class="btn btn-update-timesheet">
                            <div>{{dates.startTime}}</div>
                            <div>{{dates.endTime}}</div>
                        </button>
                        <button type="button" *ngIf="!dates.isPresent" class="btn btn-add-timesheet">Off</button>
                    </div>
                    <div class=" timesheet-right-arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="main-panel">
  <div class="container-fluid" id="main">
    <div class="row pt-5 pb-5">
      <div class="col-md-12">
        <div class="timesheet-table">
          <table class="w-100">
            <tr>
              <th>Date</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Brake</th>
              <th>Total Hours</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let timesheet of timesheetList;let i = index;">
              <th>{{timesheet.date | date:'d MMM y' }}</th>
              <th>{{timesheet.startTime}}</th>
              <th>{{timesheet.endTime}}</th>
              <th>{{timesheet.breakTime}}</th>
              <th>{{timesheet.hours}}</th>
              <th>
                <ng-container *ngIf="checkDate(timesheet.date) else notfound">
                <button *ngIf="timesheet.action==1 || timesheet.action==2 " class="align-self-center bg-blue btn btn-sm font-bold text-white"
                  (click)="openModal(timesheet)">{{ timesheet.action==1 ? 'Add' : 'Edit'}}</button>
                <label *ngIf="timesheet.action==0">-</label>
              </ng-container>
              <ng-template #notfound> 
                <label>-</label>
              </ng-template>
              </th>
            </tr>
          </table>
          <div class=" mt-2 float-right">
            <button (click)="onChangeDate(0)" class="align-self-center font-bold bg-blue btn btn-sm  text-white mr-1"
              title="Previous">Previous</button>
            <button (click)="onChangeDate(1)" class="align-self-center font-bold bg-blue btn btn-sm text-white"
              title="Next">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<modal #myModal>
  <modal-header>
    <h5 class="mb-0">Add Time</h5>
  </modal-header>
  <modal-content>
    <form (submit)="onSubmit()" [formGroup]="addTimesheetForm">
      <div class="row form-group">
        <div class="col-md-12 text-info text-center">Note: We use 24/7 hours clock</div>
      </div>
      <div class="row">
        <div class="col-md-4"><label class="font-weight-bold">Shift start</label></div>
        <div class="col-md-4"><label class="font-weight-bold">Shift end</label></div>
      </div>
      <div class="row form-group" formArrayName="timesheet" *ngFor="let time of timesheet.controls; let i=index">
        <ng-container [formGroupName]="i">
          <div class="col-md-4">
            <timepicker formControlName="startTime" [minuteStep]='1' id="startTime" [max]="time.get('endTime').value"
              [showMeridian]="ismeridian" name="startTime"></timepicker>
            <div class="invalid-feedback d-block"
              *ngIf="time.get('startTime').hasError('required') && (time.get('startTime').touched || submitted)">
              Please select shift start
            </div>
          </div>
          <div class="col-md-4">
            <timepicker formControlName="endTime" [minuteStep]='1' id="endTime" [showMeridian]="ismeridian" [min]="time.get('startTime').value"
              name="endTime"></timepicker>
            <div class="invalid-feedback d-block"*ngIf="time.get('endTime').hasError('required') && (time.get('endTime').touched || submitted)">
              Please select shift end
            </div>
          </div>
          <div class="col-md-4 align-self-center text-center p-1">
            <div class="align-self-center">
              <button type="button" (click)="addTimesheet()"
                class="align-self-center bg-blue btn btn-sm font-bold text-white" *ngIf="!i">Add brake</button>
              <button type="button" (click)="removeTimesheet(i)"
                class="align-self-center btn btn-danger btn-sm font-bold" *ngIf="i">Remove</button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-md-12 mt-1 mb-1 text-center">
          <button type="submit" class="align-self-center bg-blue btn btn-sm font-bold text-white">Submit</button>
        </div>
      </div>
    </form>
  </modal-content>
</modal>
