<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-6 col-centered">
                <div class="contractor-profile-form">
                    <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <h5>My Profile</h5>
                        <div class="row mb-3 align-items-end">
                            <div class="col-auto text-center">
                                <div class="user-profile" (click)="file.click()" *ngIf="!showImage">
                                    <p>Photo</p>
                                </div>
                                <img [src]="userImage" width="125px" height="125px" (click)="file.click()" [hidden]="!showImage" id="userImage"  #image/>
                                <input type="file" name="image" id="image" class="d-none"  #file (change)="onSelectImage(file.files)" />
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid" formControlName="isSelfEmployee" id="isSelfEmployee" name="isSelfEmployee" type="checkbox" />
                                        <label class="custom-control-label pl-2 agreement-label" for="isSelfEmployee">I'm self employed</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid" formControlName="hasCompany" id="hasCompany" name="hasCompany" type="checkbox" />
                                        <label class="custom-control-label pl-2 agreement-label" for="hasCompany">I have a company</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text"  name="address" (keyup)="isAddressChange = 1" placeholder="Address" title="Address" class="form-control custom-textbox" formControlName="address" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="onChangeAddress($event)" [ngClass]="{'is-invalid':profileForm.get('address').touched && profileForm.get('address').invalid}"/>
                            <label class="invalid-feedback font-medium">Please select address</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="jobTitle" placeholder="Job Title" title="Job Title" class="form-control custom-textbox" formControlName="jobTitle" [ngClass]="{'is-invalid':profileForm.get('jobTitle').touched && profileForm.get('jobTitle').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter job title</label>
                        </div>
                        <div class="form-group">
                            <input type="number" name="hourrate" placeholder="Hourly rate" title="Hourly rate" class="form-control custom-textbox" formControlName="hourrate" [ngClass]="{'is-invalid':profileForm.get('hourrate').touched && profileForm.get('hourrate').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter horly rate</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="companyName" placeholder="Personal / Company name" title="Personal/ Company name" class="form-control custom-textbox" formControlName="companyName" [ngClass]="{'is-invalid':profileForm.get('companyName').touched && profileForm.get('companyName').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter personal / company name</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="companyCode" placeholder="Personal/ Company code" title="Personal/ Company code" class="form-control custom-textbox" formControlName="companyCode" [ngClass]="{'is-invalid':profileForm.get('companyCode').touched && profileForm.get('companyCode').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter personal / company code</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="countryResidence" placeholder="Country of residence" title="Country of residence" class="form-control custom-textbox" formControlName="countryResidence" [ngClass]="{'is-invalid':profileForm.get('countryResidence').touched && profileForm.get('countryResidence').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter country of residence</label>
                        </div>
                        <!-- <div class="form-group">
                            <label class="wrap select-wrap">
                                <select class="form-control" name="taxes" formControlName="taxes" [ngClass]="{'is-invalid':profileForm.get('taxes').touched && profileForm.get('taxes').invalid}">
                                    <option value="" selected disabled>Taxes will be paid (choose)</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                </select>
                                <label class="invalid-feedback font-medium">Please select  taxes will be paid</label>
                            </label>
                        </div> -->
                        <div class="form-group">
                            <h5>Personal Information</h5>
                        </div>
                        <div class="form-group">
                            <input type="text" name="accountNumber" placeholder="Account number/ IBAN" title="Account number/ IBAN" class="form-control custom-textbox" formControlName="accountNumber" [ngClass]="{'is-invalid':profileForm.get('accountNumber').touched && profileForm.get('accountNumber').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter account number </label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="shortCode" placeholder="Sort code" title="Sort code" class="form-control custom-textbox" formControlName="shortCode" [ngClass]="{'is-invalid':profileForm.get('shortCode').touched && profileForm.get('shortCode').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter short code</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="bankAddress" placeholder="Bank name" title="Bank name" class="form-control custom-textbox" formControlName="bankAddress" [ngClass]="{'is-invalid':profileForm.get('bankAddress').touched && profileForm.get('bankAddress').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter bank name</label>
                        </div>
                        <div class="form-group">
                            <h6>Documents</h6>
                        </div>
                        <div class="profile-documents-section">
                            <div class="form-row doc-row"  *ngFor="let passport of passportArray; let i=index">
                                <div class="col">
                                    <a href="{{passport.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{passport.name}}</a>
                                    <a href="{{passport.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(passportArray,i,'passport',passport.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="passportList" *ngFor="let cv of passportList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,passportList,'passport-'+i)" class="custom-file-input"  id="passport-{{i}}" name="passport-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label passport-{{i}}" for="customFile">Passport</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,passportList)" [hidden]="passportList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(passportList)" [hidden]="!(passportList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container> 
                            </div>
                            <label class="font-size-12 text-danger" *ngIf="passportDocumentErrorMessage">{{passportDocumentErrorMessage}}</label>
                            <div class="form-row doc-row"  *ngFor="let cv of CvArray; let i=index">
                              <div class="col">
                                  <a href="{{cv.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{cv.name}}</a>
                                  <a href="{{cv.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                              </div>
                              <div class="col-auto">
                                  <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(CvArray,i,'cv',cv.file)" >
                                      Delete
                                  </button>
                              </div>
                          </div>
                          <div class="form-row doc-row" formArrayName="cvList" *ngFor="let cv of cvList.controls; let i=index">
                              <ng-container [formGroupName]="i">
                                  <div class="col">
                                      <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,cvList,'cv-'+i)" class="custom-file-input"  id="cv-{{i}}" name="cv-{{i}}" formControlName="documentName">
                                      <label class="custom-file-label cv-{{i}}" for="customFile">CV</label>
                                  </div>
                                  <div class="col-auto">
                                      <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,cvList)" [hidden]="cvList.length==(i+1)">
                                          Delete
                                      </button>
                                      <button type="button" class="btn add-document-button font-bold" (click)="addDocument(cvList)" [hidden]="!(cvList.length==(i+1))">
                                          <i class="fa fa-plus" aria-hidden="true"></i> add
                                      </button>
                                  </div>
                              </ng-container>
                          </div>
                          <label class="font-size-12 text-danger" *ngIf="cvDocumentErrorMessage">{{cvDocumentErrorMessage}}</label>
                            <div class="form-row doc-row"  *ngFor="let element of medicalCertificateArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(medicalCertificateArray,i,'medicalCertificate',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="medicalCertificate" *ngFor="let mc of medicalCertificate.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword"  #documentFile (change)="onFileChange(documentFile.files,i,medicalCertificate,'mc-'+i)"  class="custom-file-input" id="mc-{{i}}" name="mc-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label mc-{{i}}" for="customFile">Medical certificate</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,medicalCertificate)" [hidden]="medicalCertificate.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(medicalCertificate)" [hidden]="!(medicalCertificate.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of licenseArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(licenseArray,i,'license',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="licenseList" *ngFor="let lc of licenseList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                <div class="col">
                                    <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,licenseList,'lc-'+i)" class="custom-file-input" id="lc-{{i}}" name="lc-{{i}}" formControlName="documentName">
                                    <label class="custom-file-label lc-{{i}}" for="customFile">Engineer License (EASA Part-66 Licence / FAA)</label>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,licenseList)" [hidden]="licenseList.length==(i+1)">
                                        Delete
                                    </button>
                                    <button type="button" class="btn add-document-button font-bold" (click)="addDocument(licenseList)" [hidden]="!(licenseList.length==(i+1))">
                                        <i class="fa fa-plus" aria-hidden="true"></i> add
                                    </button>
                                </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of certificatesArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(certificatesArray,i,'certificates',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="certificatesList" *ngFor="let ctl of certificatesList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,certificatesList,'ctl-'+i)" class="custom-file-input" id="ctl-{{i}}" name="ctl-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label ctl-{{i}}" for="customFile">Certificates</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,certificatesList)" [hidden]="certificatesList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(certificatesList)" [hidden]="!(certificatesList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of criminalRecordArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(criminalRecordArray,i,'criminalRecord',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="criminalRecordList" *ngFor="let cr of criminalRecordList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,criminalRecordList,'cr-'+i)" class="custom-file-input" id="cr-{{i}}" name="cr-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label cr-{{i}}" for="customFile">Criminal record clearance</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,criminalRecordList)" [hidden]="criminalRecordList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(criminalRecordList)" [hidden]="!(criminalRecordList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of hfArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(hfArray,i,'hf',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="hfList" *ngFor="let hf of hfList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,hfList,'hf-'+i)" class="custom-file-input" id="hf-{{i}}" name="hf-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label hf-{{i}}" for="customFile">HF</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,hfList)" [hidden]="hfList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(hfList)" [hidden]="!(hfList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of ewisArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(ewisArray,i,'ewis',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="ewisList" *ngFor="let ew of ewisList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,ewisList,'ewis-'+i)" class="custom-file-input" id="ewis-{{i}}" name="ewis-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label ewis-{{i}}" for="customFile">EWIS</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,ewisList)" [hidden]="ewisList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(ewisList)" [hidden]="!(ewisList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of cdcclArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(cdcclArray,i,'cdccl',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="cdcclList" *ngFor="let cdccl of cdcclList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,cdcclList,'cdccl-'+i)" class="custom-file-input" id="cdccl-{{i}}" name="cdccl-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label cdccl-{{i}}" for="customFile">CDCCL</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,cdcclList)" [hidden]="cdcclList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(cdcclList)" [hidden]="!(cdcclList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of aircraftCertificatesArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(aircraftCertificatesArray,i,'aircraftCertificates',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="aircraftCertificatesList" *ngFor="let air of aircraftCertificatesList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,aircraftCertificatesList,'air-'+i)" class="custom-file-input" id="air-{{i}}" name="air-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label air-{{i}}" for="customFile">Aircraft type certificates</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,aircraftCertificatesList)" [hidden]="aircraftCertificatesList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(aircraftCertificatesList)" [hidden]="!(aircraftCertificatesList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of referenceFormsArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(referenceFormsArray,i,'referenceForms',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="referenceFormsList" *ngFor="let ref of referenceFormsList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,referenceFormsList,'ref-'+i)" class="custom-file-input" id="ref-{{i}}" name="ref-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label ref-{{i}}" for="customFile">Reference forms</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,referenceFormsList)" [hidden]="referenceFormsList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(referenceFormsList)" [hidden]="!(referenceFormsList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-row doc-row"  *ngFor="let element of experienceArray; let i=index">
                                <div class="col">
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{element.name}}</a>
                                    <a href="{{element.url}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn delete-document-button font-bold"(click)="onDeleteDocument(experienceArray,i,'experience',element.file)" >
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-row doc-row" formArrayName="experienceList" *ngFor="let exp of experienceList.controls; let i=index">
                                <ng-container [formGroupName]="i">
                                    <div class="col">
                                        <input type="file" accept="application/pdf,application/msword" #documentFile (change)="onFileChange(documentFile.files,i,experienceList,'exp-'+i)" class="custom-file-input" id="exp-{{i}}" name="exp-{{i}}" formControlName="documentName">
                                        <label class="custom-file-label exp-{{i}}" for="customFile">Experience sheets</label>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn delete-document-button font-bold" (click)="removeDocument(i,experienceList)" [hidden]="experienceList.length==(i+1)">
                                            Delete
                                        </button>
                                        <button type="button" class="btn add-document-button font-bold" (click)="addDocument(experienceList)" [hidden]="!(experienceList.length==(i+1))">
                                            <i class="fa fa-plus" aria-hidden="true"></i> add
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button type="submit" title="submit" class="btn btn-lightgreen font-bold contractor-profile-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
