<div class="container">
     <div class="row pt-4 pb-4">
          <div class="col-md-12">
               <h2>Privacy Policy</h2>
               <p> AVIACONTRACTOR Ltd is a global online aviation job portal established to accurately match work
                    seeking candidates with recruiting companies for short term or long term contracts.</p><br>

               <p>When you submit information to AVIACONTRACTOR, your information will also be shared with other
                    relevant
                    companies seeking for best candidates in accordance with this Privacy Policy.AVIACONTRACTOR will
                    remain responsible for
                    the management and security of jointly used Personal Information that you submit to AVIACONTRACTOR.
               </p><br>

               <p> We take data protection very seriously and understand the importance of protecting your privacy and
                    Personal
                    Information. "Personal Information" is information that identifies you as an individual such as your
                    name,
                    date of birth, email address, IP address and CV.</p><br>

               <h4>How do we collect information from you?</h4>
               <p>We collect and use your Personal Information in accordance with this Privacy Policy.</p><br>
               <p>The majority of the Personal Information we hold you freely provide to us when you submit to us your
                    CV,
                    personal information, previous experience, certificates or job cover letter for a job application.
                    If there is any information you would prefer us not to have, please omit this from any submissions
                    sent to us.
                    Some personal data is necessary for us to create an account for you, so in the instance where you do
                    not want to
                    share this Personal Information, we will be unable to provide our services to you.</p><br>

               <p> Other sources we use also include:</p>
               <ul>
                    <li>The software applications made available by us for use on or through computers and mobile
                         devices</li>
                    <li>Publicly available information;</li>
                    <li>Cookies</li>
                    <li>Other tools and applications</li>
               </ul><br>
               <h4>What Personal Information do we collect?</h4>
               <p>Personal Information we collect and store about you may include the following:</p>
               <ul>
                    <li>General identification and contact information: your name; address; email; IP address; telephone
                         details;
                         gender; marital status; family status; date and place of birth; physical attributes including
                         photos.</li>
                    <li>Other sensitive information: political opinions, racial or ethnic origin, trade union
                         membership,
                         religious beliefs and criminal record.</li>
                    <li>Information enabling us to provide products and services: age, location, whether or not you
                         hold a driving licence</li>
                    <li>Information from Apps: User generated content submitted through contributing to online forums,
                         commenting on blog posts, completing onsite forms or emailing any of our internal services
                         teams</li>
                    <li>Professional history information available publicly: educational background; employment history;
                         skills and experience; professional licenses and affiliations; educational and professional
                         qualifications</li>
                    <li>Marketing preferences: defined when entering a competition or prize draw, submitting a survey
                         response or
                         other sales/marketing promotional activity</li>
                    <li>Statistical information: aggregate statistical information about site visitors and users for
                         internal use and
                         for other lawful purposes such as salary comparison services. Where we utilise such
                         information, we will do so using
                         an anonymous format and not include any Personal Information.</li>
               </ul><br>

               <p>What legal basis do we rely on to process your Personal Information?</p>
               <ul>
                    <li>Consent: In some cases, AVIACONTRACTOR processes your data with your consent. For example, we
                         rely
                         on consent when linking your AVIACONTRACTOR account to your Social Network account. You have
                         the right
                         to withdraw consent at any time. Where consent is the only legal basis for processing, we will
                         cease to
                         process data after consent is withdrawn</li>
                    <li>Processing required to fulfil a contract: AVIACONTRACTOR may process your data when we need to
                         do
                         this to fulfil a contract with you, such as to send your CV to an employer or recruiter for a
                         specific
                         job application</li>
                    <li>Legitimate Interest: AVIACONTRACTOR can also process your data when it is deemed our legitimate
                         interest to do so and when these interests are not overridden by your data protection rights
                    </li>
               </ul><br>

               <p>Our legitimate interests include:</p>
               <ul>
                    <li>Ensuring the security and integrity of our Services at all times</li>
                    <li>Enabling our Websites and Apps to operate effectively</li>
                    <li>Protecting and maintaining the safety, health and welfare of our customers, employees and other
                         individuals</li>
                    <li>Understanding our customers activities, needs, behaviours and preferences</li>
                    <li>Developing new products and services and improving existing products</li>
                    <li>Managing complaints, queries, customer contacts or disputes</li>
                    <li>Fulfilling our obligations to our customers, employees and shareholders</li>
               </ul><br>

               <p>The basis for processing this information will be based on an applicable legal obligation. Other
                    examples
                    where AVIACONTRACTOR may process your data include complying with our legal and regulatory
                    obligations, such as
                    preventing, investigating and detecting crime, fraud or anti-social behaviour. This may include the
                    need to
                    work and share this information with law enforcement agencies.</p><br>

               <h4>Who do we share your Personal Information with?</h4>
               <p>AVIACONTRACTOR may make Personal Information available to the following:</p>
               <ul>
                    <li>Recruiters and Agents: Whilst undertaking our business purpose to help you search for and get a
                         contract job, AVIACONTRACTOR may make Personal Information available to third parties such as
                         recruiters
                         and other intermediaries and agents and other carefully selected business partners</li>
                    <li>Our service providers: This includes, but is not limited to, external third-party service
                         providers
                         such as accountants and auditors, IT systems, support and hosting service providers, market
                         research and
                         analysis service providers, data storage and cloud providers and other outsourced providers
                         that assist
                         us in carrying out business requirements</li>
                    <li>Governmental authorities and third parties involved in court action: AVIACONTRACTOR may share
                         Personal
                         Information with governmental or other public authorities and third-party civil legal process
                         participants
                         and their accountants, auditors, lawyers and other advisors and representatives as we believe
                         to be
                         necessary or appropriate. Examples would be to comply with applicable law, protect our
                         operations, and to
                         protect the rights of ourselves, our group, you or others</li>
                    <li>Other third parties: Where appropriate, we may occasionally share Personal Information with
                         other third
                         parties. This will always be done under contract and in accordance with your instructions.</li>
               </ul><br>

               <p>AVIACONTRACTOR Ltd. utilise a number of services and third party products to aid us in providing you
                    with the
                    best on and offsite experience we can. Some of these services are non-negotiable and any request not
                    to have your
                    data shared with these services may mean we are unable to provide you with use of our site(s). In
                    case of a query
                    , please contact our Data Protection Officer using the details provided below and we will be able to
                    assist you
                    further</p><br>

               <p>The following is a list of services we utilise and that details we hold about you may be shared with
                    and why:</p><br>
               <p>Business Intelligence/User Experience</p>
               <p>To optimise our on-site conversion processes, providing you with smoother transaction experiences.</p>
               <ul>
                    <li>To amplify and promote our call to actions and data capture forms.</li>
                    <li>To allow us to communicate with you on-site via web chat services.</li>
                    <li>To guide our business decisions, providing you with a better product and experience.</li>
                    <li>To visualise and analyse website usage data (including user journeys and paths).</li>
                    <li>To optimise our sales and marketing campaigns, ensuring they are best tailored for
                         your interests and purposes of using our services. </li>
               </ul><br>
               <p>We work with the following Third Parties to facilitate the above:</p>
               <ul>
                    <li>Google Analytics</li>
                    <li>MySQL workbench</li>
               </ul><br>

               <h4>Direct & Automated Marketing</h4>
               <p>We may share your data with Third Party processors for the following purposes:</p>
               <ul>
                    <li>To contact you via Email; Job Alerts; SMS; Social Media; Telephone and Mail
                         regarding orders; offers; promotions; products or services.</li>
                    <li>To enhance and improve our marketing/advertising campaigns to you, providing
                         you with a more tailored service.</li>
                    <li>To facilitate in providing you with an improved product or service.</li>
                    <li>To enrich our data, with your consent, for the purposes listed above.</li>
                    <li>To automate our internal marketing processes and services.</li>
               </ul><br>

               <p>We work with the following Third Parties to facilitate the above:</p>
               <ul>
                    <li>Unbounce</li>
                    <li>mailerLite</li>
                    <li>Zapier</li>
                    <li>LinkedIn</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Careerjet</li>
                    <li>Glassdoor</li>
                    <li>Indeed</li>
                    <li>JobisJob</li>
                    <li>JobRapido</li>
                    <li>Jobtome</li>
                    <li>Jora</li>
                    <li>Neuvoo</li>
                    <li>Joblift</li>
                    <li>Ziprecruiter</li>
                    <li>All The Top Bananas</li>
                    <li>Adswipe</li>
                    <li>Job Lift</li>
                    <li>Workcircle</li>
                    <li>Amroth Meida</li>
                    <li>Recruitics</li>
                    <li>TopUSAJobs</li>
                    <li>Jobs2Careers</li>
                    <li>Adview</li>
                    <li>Jooble</li>
                    <li>SteerFox</li>
                    <li>Snapchat</li>
                    <li>Google Adwords</li>
                    <li>Microsoft Adcentre</li>
                    <li>JobG8</li>
                    <li>Gleam</li>
                    <li>SurveyMonkey</li>
                    <li>AppNexus</li>

               </ul><br>

               <p>You can opt out of allowing us to set cookies on your machine, in which case we will no longer be able
                    to
                    display relevant and contextual advertising to you. If you browse the internet on multiple browsers
                    or
                    devices, you may need to also visit the opt out link on all of those browsers or devices.</p>
               <p>Opt-out information is provided as below</p>

               <p><a href="https://ads-b-eu.loopaautomate.com/api/pixel/showcookie" target="_blank">https://ads-b-eu.loopaautomate.com/api/pixel/showcookie</a></p>
               <p><a href="https://www.facebook.com/policies/cookies/" target="_blank">https://www.facebook.com/policies/cookies/ (Facebook)</a></p>
               <p><a href="https://support.google.com/ads/answer/2662922?hl=en-AU" target="_blank">https://support.google.com/ads/answer/2662922?hl=en-AU (Google)</a></p>
               <p><a href="http://youradchoices.ca/choices/" target="_blank">http://youradchoices.ca/choices/ (multiple opt out options)</a></p>
               <p><a href="https://www.appnexus.com/platform-privacy-policy" target="_blank">https://www.appnexus.com/platform-privacy-policy (Appnexus)</a></p> <br>

               <h4>How we use Personal Information?</h4>
               <ul>
                    <li>Provide marketing information to you (including information about other products and services
                         offered by
                         selected third-party partners) in accordance with preferences you have previously provided.
                         Please be aware you can always change these at My Account</li>
                    <li>Carry out market research and analysis, including satisfaction surveys</li>
                    <li>Allow you to participate in contests, prize draws and similar promotions</li>
                    <li>Enable social media sharing functionality</li>
                    <li>Personalise your experience on AVIACONTRACTOR by presenting information and advertisements
                         tailored to you</li>
                    <li>Manage our infrastructure and business operations, and comply with internal policies and
                         procedures</li>
                    <li>Comply with applicable laws and regulatory obligations</li>
                    <li>Establish and defend legal rights; protect our operations or those of any of our group companies
                         or customers (you)</li>
                    <li>Resolve complaints, and handle requests for data access or correction</li>
                    <li>Communicate with you as part of our business and distribute important information regarding
                         changes to our policies</li>

               </ul><br>

               <h4> How can you manage or delete Personal Information?</h4>
               <p>Below are the ways in which you can take control of how we use your Personal Information:</p><br>

               <h6>General Information:</h6>
               <p>When you register or apply for a job through AVIACONTRACTOR, you will create an account on the site,
                    against which we will store your basic details such as name, sex, location, CV (if supplied). On
                    future visits,
                    when logging in to your 'My Account' area, it is protected by your password and may only be accessed
                    by you.
                    You can manage the content and information in your Account at any time, by logging in to your "My
                    Account".
                    As part of the account creation process, you will also agree to our Terms and Conditions and can
                    choose how we keep
                    in contact with you. If you want to update your marketing preferences, you can do so at any time by
                    logging into
                    your account and updating your preferences.</p><br>

               <h6>CV Visibility:</h6>
               <p>Provided you have consented to do so, your CV can be viewed by AVIACONTRACTOR customers, as well as
                    customers .
                    To make your CV visible on CV Search is the default setting as it helps to fulfil the purpose of the
                    business.
                    You may however choose to remove your CV from being seen by customers of AVIACONTRACTOR, meaning
                    that your CV
                    and profile will not appear in any CV Searches. In this instance, you are still able to apply for
                    vacancies with your CV.</p><br>

               <h6>Communications and Promotions:</h6>
               <p>You can decide to update your preferences or unsubscribe from any employment or promotional
                    information that
                    we may send to you by using the below methods:</p><br>

               <p>Using the preferences or unsubscribe functions at the bottom of any email we send</p>
               <ul>
                    <li>Amending your account details by logging in to our website and opting-in/out of the available
                         communication preferences options</li>
                    <li>Contacting us on the Contact Us page of AVIACONTRACTOR</li>
                    <li>Emailing our DPO using the details found below</li>
               </ul><br>

               <h6>Analytics:</h6>
               <p>When you access our website online, we store some information about you. This is generally anonymous
                    and
                    used for statistical purposes. However, AVIACONTRACTOR uses a specific cookie to work with Google
                    Universal
                    Analytics and help us to understand how logged in users interact with our site. We do this by
                    utilising a
                    User ID we store against every user and combining this with the Google Analytics stored information.
                    The information we collect helps us to provide a better experience and allows us to understand how
                    you use
                    AVIACONTRACTOR to fulfil your goals.</p><br>

               <p>You can however learn more about privacy at Google or choose to opt-out of this feature entirely by
                    installing
                    the Google Analytics Opt-out Browser Add-on.</p><br>

               <h6>Deleting your Personal Information:</h6>
               <p>You can remove any of the information that AVIACONTRACTOR stores about you, at any time, by logging in
                    to your AVIACONTRACTOR account and choosing to ‘delete my account’.</p><br>

               <p>If you would like to permanently delete your account and all information held on you
                    (that isn’t legally required to be kept for legitimate business purposes), you can send an email to
                    our
                    Data Protection Officer (DPO) with the subject line "Permanently </p><br>

               <p>delete my information and account". Make sure to let us know who you are so we can identify the
                    information
                    to be permanently deleted.</p><br>

               <h6>Security:</h6>
               <p>AVIACONTRACTOR is committed to keeping your personal data safe and secure from unauthorised access to
                    or
                    unauthorised alterations, disclosure or destruction of information that we hold. We operate secure
                    data networks
                    protected by industry standard firewall and password protection. We have security measures in place
                    to attempt
                    to protect you to our fullest capability. To minimise any potential breach or misuse, only cleared
                    employees have
                    access to the Personal Information that you provide us.</p><br>

               <p>AVIACONTRACTOR use third-party cloud service providers that provide hosting, data storage and other
                    services
                    pursuant to standard terms and conditions that may be nonnegotiable. These providers have informed
                    us or the
                    general public that they apply security measures they consider adequate for the protection of
                    information within
                    their system, or they have a general reputation for applying such measures. However, we will not be
                    liable
                    (to the fullest extent permitted by law) for any damages that may result from the misuse of any
                    information,
                    including Personal Data, by these companies.</p><br>

               <h6>Location based services:</h6>
               <p>In some instances, AVIACONTRACTOR will help tailor your experience by providing content based on your
                    location.
                    This can be set using your devices IP address or by utilising GPS data that your mobile device, such
                    as an iPhone,
                    stores and shares.</p><br>
               <p>For IP Address LookUp, AVIACONTRACTOR uses a service from <a href="https://ipstack.com/" target="_blank">IPStack</a>. You can find out more about IPStack
                    and view
                    the <a href="https://ipstack.com/privacy" target="_blank">IPStack Privacy Policy</a> for more details of their service.</p><br>
               <p>For GPS services, we use <a href="http://www.w3.org/TR/geolocation-API/" target="_blank">W3 Geolocation API</a>. As its use is a subject of privacy, we will only use
                    this if you
                    agree to it. Once opted-in, we will use this information to provide you with job offers close to you
                    and to improve
                    our Products and Services. In no case will we merge such information with any personally
                    identifiable information.
                    We will at no times be able to connect you personally in connection with the respective location.
                    You may at any stage
                    opt out of location tracking by updating your device settings.</p><br>

               <h6>Your Rights</h6>
               <p>You have the following rights:</p><br>
               <ul>
                    <li>The right to ask what personal data that we hold about you at any time (AVIACONTRACTOR Ltd.
                         retain the
                         right to charge an administrative fee, fixed at 15 EUR, in cases where the request for
                         information can be
                         deemed excessive)</li>
                    <li>The right to ask us to update and correct any out-of-date or incorrect personal data that we
                         hold about
                         you free of charge</li>
                    <li>The right to opt out of any marketing communications that we may send you</li>
                    <li>The right to object to how your Personal Information is being used;</li>
                    <li>And ultimately the right to request erasure of any data we hold on you in line with legal
                         obligations
                         to the contrary</li>
               </ul><br>

               <p>If you wish to exercise any of the above rights, please contact our DPO using the contact details set
                    out below.</p><br>

               <h6>Third Party Privacy Practices</h6>
               <p>her websites available to our customers where we feel there is a benefit or service that our customers
                    may
                    find useful. When you click on such links, you may leave our Site. In some instances, pages we
                    operate may
                    contain information provided by third-party Employers.</p><br>

               <p>No third-party sites are covered by our Privacy Policy, but we will make every effort to ensure that
                    third
                    party sites comply with our Privacy Policy. The inclusion of a link on our Website or App does not
                    imply
                    endorsement of the linked site or service by us. Before submitting any of your Personal Information
                    to these
                    third party services, you should consider viewing their privacy policies to ensure you are
                    comfortable with
                    their terms of use.</p><br>

               <p>Who to contact about your Personal Information</p><br>

               <p>The data controller responsible for your information is AVIACONTRACTOR.</p><br>
               <p>If you have any questions about this policy or our use of your Personal Information you can email:
                    <a href="mailto:info@aviacontractor.com">info@aviacontractor.com</a> Aviacontractor Ltd, V.Nageviciaus st. 3, Vilnius, Lithuania.</p><br>

               <h6>Changes to Privacy Policy</h6>

               <p>We review this Privacy Policy regularly and reserve the right to make changes at any time to take
                    account of
                    changes in our business and legal requirements. We will place updates on our website.</p><br>

               <p>Please take a look at the "LAST UPDATED" date at the top of this Privacy Policy to see when it was
                    last
                    revised.</p><br>

               <p>The Site is operated by Aviacontractor Ltd., registered in Lithuania. Registered number: 305652529.
                    Registered
                    address: V.Nageviciaus st. 3, LT-08237, Vilnius, Lithuania. </p><br>




          </div>
     </div>
</div>