<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 footer-links">
                    <div class="footer-inner-section">
                        <h4>FOR JOB SEEKERS</h4>
                        <ul>
                            <li><a title="Employee Login" routerLink="/contractor-login">Contractor login</a></li>
                        </ul>
                    </div>
                    <div class="footer-inner-section">
                        <h4>FOR BUSINESS</h4>
                        <ul>
                            <li><a title="Business Login" routerLink="/company-login">Company login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 footer-links">
                    <div class="footer-inner-section">
                        <h4>NEED HELP?</h4>
                        <ul class="support-button-row">
                            <li><a href="javascript:void(0)" routerLink="/contact-us" title="Support"  class="support-button">SUPPORT</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 footer-links">
                    <div class="footer-inner-section">
                        <h4>ABOUT</h4>
                        <ul>
                            <li><a title="Privacy Policy" routerLink="/privacy-policy">Privacy</a></li>
                            <li><a title="Terms Condition" routerLink="/terms-condition">Terms</a></li>
                            <li><a title="Contact Us" routerLink="/contact-us" title="Contact Us">Contact Us</a></li>
                        </ul>
                    </div>
                    <ul class="social-icons icon-circle list-inline text-md-right">
                        <li><a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>&nbsp;
                        <li><a title="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer-section">
            <div class="col-md-6 p-0">
            </div>
            <div class="col-md-6 p-0">
                <p class="pull-right copy-right">Aviacontractor © {{ currentYear }}</p>
            </div>
        </div>
    </div>
</footer>