<div class="nav-side-menu" #menuBar id="menuBar">
    <div class="brand pt-4 pb-4 text-center">
        <img src="assets/img/logo.svg" title="Aviacontractor" alt="Aviacontractor" class="img-fluid" />
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="sidebar-inner">
        <div class="sidebar-wrapper mt-auto">
            <ul id="menu-content" class="menu-content collapse out nav" #navbar>
                <li class="active">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/post-job">POST A JOB</a>
                </li>
                <li class="">
                    <div  class="apply-job-counter" *ngIf="applyJobCounter"><sup>{{applyJobCounter}}</sup></div>
                    <a class="text-white" routerLinkActive="active " routerLink="/company/my-jobs">MY JOBS </a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/profile">PROFILE</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/timesheets">TIME SHEETS</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/faq">FAQ</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/plan">PLAN</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/chat">CHAT</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/payment-history">PAYMENT HISTORY</a>
                </li>
                <li class="responsive-menu-only logout">
                    <a class="text-white" href="javascript:void(0)" (click)="logout()">LOGOUT</a>
                </li>
                <li class="responsive-menu-only">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/contact-us">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-action mt-auto">
            <ul id="menu-content" class="menu-content collapse out nav" #navbar>
                <li class="active">
                    <a class="text-white" href="javascript:void(0)" (click)="logout()">LOGOUT</a>
                </li>
                <li class="">
                    <a class="text-white" routerLinkActive="active " routerLink="/company/contact-us">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>   
</div>