:host {
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}
.user-info {
    font-size: 15px;
    color: #2d313f;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    flex: 0 0 62px;
    padding-left: 20px;
}
.user-information a {
    display: flex;
}
.user-information a:active, .user-information a:focus, .user-information a:hover {
    text-decoration: none;
}
.user-information {
    border-bottom: 1px solid #bdccd7;
}
.no-messages {
    background: #f8f9fb;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    padding: 10px;
}
.user-image {
    border-radius: 50%;
    width: 50px;
    max-height: 50px;
}
.no-messages img {
    min-height: 50%;
    max-height: 50%;
    min-height: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
}
.title {
    font-size: 26px;
    color: #662D8F;
    letter-spacing: 0;
    text-align: center;
    margin-top: 10px;
    word-break:break-word;
}
.info {
    opacity: 0.8;
    font-size: 16px;
    color: #2d313f;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 5px;
}
.input-container {
    display: flex;
}
.input-container input {
    height: 62px;
    flex: 1;
    font-size: 21px;
    width: 100%;
    border: none;
    border-top: 1px solid #d8e1e7;
    outline: none;
    resize: none;
    border-radius: 0 0 6px 0;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    padding-left: 20px;
}
.input-container input::placeholder {
    color: #bbbebe;
}
ul {
    padding: 0 1em;
    margin: 0;
}
.messages-container {
    overflow: auto;
    flex-grow: 2;
    background-color: #f8f9fb;
}
li {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    padding: 10px 0;
    background-color: #f8f9fb;
}
.speech-bubble {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #bdccd7;
    padding: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #2d313f;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 80%;
    min-width: 100px;
    margin-left: 10px;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    top: calc(100% - 20px);
    width: 0;
    height: 0;
    border: 12px solid transparent;
    margin-top: -12px;
    z-index: 1;
    transform: skew(0, 30deg);
    left: 0;
    border-right-color: #fff;
    border-left: 0;
    margin-left: -10px;
}
.speech-bubble:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: calc(100% - 20px);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    filter: blur(1px);
    margin-top: -10px;
    transform: skew(0, 30deg);
    left: 0;
    border-right-color: #fff;
    border-left: 0;
    margin-left: -10px;
    border-right-color: rgba(0, 0, 0, 0.2);
}
.speech-bubble-own {
    position: relative;
    background: #662D8F;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #662D8F;
    padding: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    mix-blend-mode: normal;
    width: 80%;
    min-width: 100px;
    margin-right: 10px;
}
.speech-bubble-own:after {
    content: '';
    position: absolute;
    top: calc(100% - 20px);
    width: 0;
    height: 0;
    border: 12px solid transparent;
    margin-top: -12px;
    z-index: 1;
    transform: skew(0, 30deg);
    right: 0;
    border-left-color: #662D8F;
    border-right: 0;
    margin-right: -11px;
}
.speech-bubble-own:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: calc(100% - 20px);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    filter: blur(1px);
    margin-top: -10px;
    transform: skew(0, 30deg);
    right: 0;
    border-left-color: #662D8F;
    border-right: 0;
    margin-right: -11px;
    border-right-color: rgba(0, 0, 0, 0.2);
}
span {
    word-break: break-all;
}
@media (max-width: 635px) {
    li img {
        display: none;
   }
    .speech-bubble:before, .speech-bubble:after, .speech-bubble-own:before, .speech-bubble-own:after {
        display: none;
   }
    li {
        width: 100%;
   }
    .speech-bubble, .speech-bubble-own {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
   }
    .title {
        font-size: 20px;
   }
    .info {
        font-size: 15px;
   }
}
