<ng-template #noMessages>
	<div class="no-messages">
		<img src="assets/img/envelope.png" />
		<span class="title">You will receive messages from the {{logintype}} here.</span>
	</div>
</ng-template>
<div class="main">
	<div class="user-information">
		<ng-container *ngIf="selectedUser.id">
			<a [routerLink]="['/reviews', selectedUser.id]" class="p-1">
				<img [src]="selectedUser.image" class="user-image" *ngIf="selectedUser.image" />
				<div class="user-info">{{ selectedUser.name }}</div>
			</a>
		</ng-container>
	</div>
	<div *ngIf="messages.length; else noMessages" class="messages-container" #scrollMe>
		<ul>
			<li *ngFor="let message of messages" [style.flex-direction]="message.fromUserId === currentUserId ? 'row-reverse' : 'row'">
				<span [innerHTML]="message.message"	[ngClass]="message.fromUserId === currentUserId ? 'speech-bubble-own' : 'speech-bubble'">
				</span>
			</li>
		</ul>
	</div>
	<div class="input-container">
		<input class="form-control" placeholder="Write a message" #messageInput
			(keydown.enter)="onSendMessage(messageInput.value); messageInput.value = ''" />
	</div>
</div>