agm-map{
    height: 650px;  
}
.list-member-img{
    max-height: 48px;
    min-height: 48px;
    max-width: 48px;
    border-radius: 50%;
    min-width: 48px;
}
.listmember-name p {
    font-weight: 700;
    color: #333333;
    font-size: 18px;
}