<section class="top-banner-section">
    <div class="container d-flex h-100">
        <div class="align-self-center ml-auto mr-auto">
            <div class="text-center">
                <h1 class="banner-title">AVIATION <span class="fw-400">JOBS</span></h1>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6 text-md-left text-center">
                    <button class="banner-but" data-toggle="modal" data-target="#exampleModalCenter">Map</button>
                </div>
                <div class="col-sm-6 col-lg-6 text-md-right text-center">
                    <button class="banner-but" routerLinkActive="active " routerLink="/register">Register</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-second-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="job-platform-section">
                    <h1 class="job-platform">DON'T MISS OUT</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pb-1 contractor-company-section">
            <div class="col-sm-6 col-md-6 emp_border">
                <div class="mb-4 mt-4 text-center">
                    <a class="btn btn-primary home-btn" routerLink="/contractor">JOB SEEKER</a>
                </div>
                <ul class="contractor-suggestion-list">
                    <li>
                        <img src="assets/img/icon-1.svg" alt="Map Icon" title="Map Icon" class="map-icon" />
                        <h5>Find available contracts</h5>
                    </li>
                    <li>
                        <img src="assets/img/icon-2.svg" alt="Cover Icon" title="Cover Icon" class="cover-icon" />
                        <h5>Submit worked hours</h5>
                    </li>
                    <li>
                        <img src="assets/img/icon-3.svg" alt="Money Icon" title="Money Icon" class="money-icon" />
                        <h5>Get paid</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="mt-4 mb-4 text-center">
                    <a class="btn btn-primary home-btn" routerLink="/company">BUSINESS</a>
                </div>
                <ul class="company-suggestion-list">
                    <li>
                        <img src="assets/img/icon-4.svg" alt="Watch Icon" title="Watch Icon" class="watch-icon" />
                        <h5>Choose best candidates for your business and hire them instantly</h5>
                    </li>
                    <li><img src="assets/img/icon-5.svg" alt="Book Icon" title="Book Icon" class="book-icon" />
                        <h5>Let us do the paperwork and payroll</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-1 pb-3">
            <div class="col-md-12 text-center pb-5">
                <h1 class="mb-2 how-it-works-text pb-5">HOW IT WORKS</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 emp_border2 job-seeker-desktop-section">
                <!-- <div class="mb-4 mt-4 text-center">
                    <button class="btn btn-primary home-btn">JOB SEEKER</button>
                </div> -->
                <div class="job-seeker-section">
                    <div class="timeline">
                        <div class="timeline-section-1">
                            <h4>Setup account</h4>
                        </div>
                        <div class="timeline-section-2">
                            <h4>Provide necessary documents</h4>
                        </div>
                        <div class="timeline-section-3">
                            <h4>Apply for the contract</h4>
                        </div>
                        <div class="timeline-section-4">
                            <h4>Get paid</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 job-seeker-desktop-section">
                <!-- <div class="mt-4 mb-4 text-center">
                    <button class="btn btn-primary home-btn">BUSINESS</button>
                </div> -->
                <div class="job-seeker-section">
                    <div class="business-timeline-section">
                        <div class="timeline-section-1">
                            <h4>Setup account</h4>
                        </div>
                        <div class="timeline-section-2">
                            <h4>Submit available job offer</h4>
                        </div>
                        <div class="timeline-section-3">
                            <h4>Wait for the applicants or contact them directly</h4>
                        </div>
                        <div class="timeline-section-4">
                            <h4>Pay only for approved work</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container-fluid">
        <div class="row pt-5 pb-5">
            <div class="col-md-12 text-center ">
                <h1 class="mb-2 what-our-user-text">WHAT OUR USER'S SAY?</h1>
            </div>
        </div>
        <div class="row align-items-center pb-5">
            <div class="col-md-5 pl-0">
                <img src="assets/img/user-say.png" alt="Testimonial" title="Testimonial" class="img-fluid" />
            </div>
            <div class="col-md-7">
                <div class="owl-carousel owl-theme cu-owl-slider">
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain! </h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="user-content">
                            <h5>I discovered Aviacontractor last summer and since when, I was extremely grateful for an opportunity to work in Spain!</h5>
                            <div class="user-name text-center">
                                <h5>- Joe</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade home-map-popup" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" #closeModal class="close p-close-btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="markerClick('0')">
                    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                        <!-- <agm-marker *ngFor="let location of userLocationList;let i = index" [latitude]="location.latitude" [longitude]="location.longitude" (markerClick)="markerClick('u'+(i+1))" [iconUrl]="markerUrl">
                            <agm-info-window [isOpen]="('u'+(i+1))==currentInfoWindowIndex">
                                <div class="row">
                                    <div class="col-lg mb-2 mb-lg-0">
                                        <div class="row mb-2">
                                            <div class="col-auto mb-1">
                                                <img class="img-fluid list-member-img" src="{{location.image}}" />
                                            </div>
                                            <div class="col">
                                                <div class="listmember-name">
                                                    <a (click)="navigate('/profile',location.id,closeModal)">
                                                        <p class="text-blue mb-1">{{location.jobTitle}}</p>
                                                    </a>
                                                </div>
                                                <div class="mb-1">
                                                    <span class="text-blue font-weight-bold">
                                                    € {{location.hourrate}}
                                                </span> &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker> -->
                        <agm-marker *ngFor="let location of jobLocationList;let i = index" [latitude]="location.latitude" [longitude]="location.longitude" (markerClick)="markerClick(('j'+(i+1)))" [iconUrl]="markerUrl">
                            <agm-info-window [isOpen]="('j'+(i+1))==currentInfoWindowIndex">
                                <div class="row mb-3">
                                    <div class="col-lg mb-2 mb-lg-0">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img class="img-fluid list-member-img" src="{{location.image}}" />
                                            </div>
                                            <div class="col">
                                                <div class="listmember-name">
                                                    <a (click)="navigate('/job-detail',location.id,closeModal)">
                                                        <p class="text-blue mb-1">{{location.position}}</p>
                                                    </a>
                                                </div>
                                                <div class="mb-1">
                                                    <span class="text-blue font-weight-bold">
                                                        € {{location.hourrate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </agm-marker-cluster>
                </agm-map>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->