<router-outlet></router-outlet>
<ngx-spinner bdOpacity='0.9' bdColor="rgba(255,255,255,0.42)" size="default" color="#662D8F" type="line-scale-pulse-out" [fullScreen]="true">
    <p style="color: #000">Loading ...</p>
</ngx-spinner>
