<section class="contractore-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white pt-4 extra-cash-text">ARE YOU AN ENGINEER,<br>MECHANIC, AVIATION PROFESSIONAL?</h1>
                <h3 class="text-white pt-1 flexibility-text">Enjoy the freedom of flexibility and <br>earn according to your schedule</h3>
            </div>
            <div class="col-md-12 text-center">
                <h2 class="text-white apply-text">APPLY</h2>
                <i class="fa fa-angle-down down-arrow" (click)="scroll(target)"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 how-it-work-step">
                <div class="step-content">
                    <h1>1</h1>
                    <h5>REGISTER</h5>
                </div>
            </div>
            <div class="col-md-3 how-it-work-step">
                <div class="step-content">
                    <h1>2</h1>
                    <h5>APPLY</h5>
                </div>
            </div>
            <div class="col-md-3 how-it-work-step">
                <div class="step-content">
                    <h1>3</h1>
                    <h5>GET THE JOB DONE</h5>
                </div>
            </div>
            <div class="col-md-3 how-it-work-step">
                <div class="step-content">
                    <h1>4</h1>
                    <h5>GET PAID</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" #target>
    <div class="row" >
        <div class="col-md-12">
            <h1 class="text-center pt-5 pb-5 register-here-text">REGISTER HERE</h1>
        </div>
    </div>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4 col-centered employees-registration-form">
                <div class="form-group">
                    <label for="firstName" class="label">First name</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First name" title="First name" class="custom-form-control" formControlName="firstName" [ngClass]="{'is-invalid':registerForm.get('firstName').touched && registerForm.get('firstName').invalid}"
                        autocomplete="off" />
                    <label class="invalid-feedback  font-medium">
                        Please enter first name
                    </label>
                </div>
                <div class="form-group">
                    <label for="lastName" class="label">Last name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last name" title="Last name" class="custom-form-control" formControlName="lastName" [ngClass]="{'is-invalid':registerForm.get('lastName').touched && registerForm.get('lastName').invalid}" />
                    <label class="invalid-feedback  font-medium">
                        Please enter last name
                    </label>
                </div>
                <div class="form-group">
                    <label for="email" class="label">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email" title="Email" class="custom-form-control" formControlName="email" [ngClass]="{'is-invalid':registerForm.get('email').touched && registerForm.get('email').invalid}" />
                    <div class="invalid-feedback">
                        <label class=" font-medium" *ngIf="registerForm.get('email').errors?.required">Please enter email id</label>
                        <label class=" font-medium" *ngIf="registerForm.get('email').errors?.email">Please enter valid email id</label>
                        <label class=" font-medium" *ngIf="registerForm.get('email').errors?.isEmailUnique">Email id already exist</label>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <label for="dob" class="label">Date of birth</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="day" id="day" placeholder="Day" title="Day" formControlName="day" [ngClass]="{'is-invalid':registerForm.get('day').touched && registerForm.get('day').invalid}" />
                        <div class="invalid-feedback">
                            <label class="font-medium" *ngIf="registerForm.get('day').errors?.required">Please enter day</label>
                            <label class="font-medium" *ngIf="registerForm.get('day').errors?.pattern">Please enter only digit</label>
                            <label class="font-medium" *ngIf="(registerForm.get('day').errors?.min || registerForm.get('day').errors?.max) && !registerForm.get('day').errors?.pattern">Please enter day between 1 to 31</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="month" id="month" placeholder="Month" title="Month" formControlName="month" [ngClass]="{'is-invalid':registerForm.get('month').touched && registerForm.get('month').invalid}" />
                        <div class="invalid-feedback">
                            <label class="font-medium" *ngIf="registerForm.get('month').errors?.required">Please enter month</label>
                            <label class="font-medium" *ngIf="registerForm.get('month').errors?.pattern">Please enter only digit</label>
                            <label class="font-medium" *ngIf="(registerForm.get('month').errors?.min || registerForm.get('month').errors?.max) && !registerForm.get('month').errors?.pattern">Please enter month between 1 to 12</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="year" id="year" placeholder="Year" title="Year" formControlName="year" [ngClass]="{'is-invalid':registerForm.get('year').touched && registerForm.get('year').invalid}" />
                        <div class="invalid-feedback">
                            <label class="font-medium" *ngIf="registerForm.get('year').errors?.required">Please enter year</label>
                            <label class="font-medium" *ngIf="registerForm.get('year').errors?.pattern">Please enter only digit</label>
                            <label class="font-medium" *ngIf="(registerForm.get('year').errors?.maxlength || registerForm.get('year').errors?.minlength) && !registerForm.get('year').errors?.pattern">Please enter valid year</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobileNumber" class="label">Mobile phone number</label>
                    <input type="text" name="mobileNumber" id="mobileNumber" placeholder="Mobile phone Number" title="Mobile phone Number" class="custom-form-control " formControlName="mobileNumber" [ngClass]="{'is-invalid':registerForm.get('mobileNumber').touched && registerForm.get('mobileNumber').invalid}"
                    />
                    <div class="invalid-feedback">
                        <label class=" font-medium" *ngIf="registerForm.get('mobileNumber').errors?.required">Please enter phone number</label>
                        <label class=" font-medium" *ngIf="registerForm.get('mobileNumber').errors?.pattern">Please enter only number</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" title="Password" class="custom-form-control" formControlName="password" [ngClass]="{'is-invalid':registerForm.get('password').touched && registerForm.get('password').invalid}"
                        autocomplete="off" />
                        <label class="invalid-feedback">
                            Please enter password
                        </label>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="label">Repeat new password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repeat new password" title="Repeat new password" class="custom-form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid':registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}"
                        autocomplete="off" />
                        <label class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').errors?.required"> Please enter repeat new password</label>
                        <label class="text-danger font-size-14" *ngIf="registerForm.hasError('mustMatch') && (!registerForm.get('confirmPassword').errors?.required)"> Repeat new password does not match to password</label>
                </div>
            </div>
        </div>
        <div class="row pb-2 pt-3">
            <div class="col-md-5 col-centered">
                <div class="custom-control-lg custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="agreement" name="agreement" formControlName="agreement" />
                    <label class="custom-control-label pl-2 agreement-label" for="agreement">I agree to the Aviacontractor terms & conditions </label>
                    <label class="text-danger d-flex justify-content-center font-medium text-center font-size-14" *ngIf="registerForm.get('agreement').touched && registerForm.get('agreement').invalid">Please select agreement</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-centered">
                <div>
                    <a [routerLink]="['/terms-condition']" title="Read Aciacontractor agreement" class="text-black agreement-link">Read Aviacontractor agreement</a>
                </div>
                <div>
                    <a [routerLink]="['/privacy-policy']" title="Read our privacy policy" class="text-black privacy-policy">Read our privacy policy</a>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-md-12 text-center">
                <input type="hidden" name="userType" id="userType" formControlName="userType" value="1" />
                <button type="submit" class="btn btn-lightgreen join-now-button" title="Join Now">JOIN NOW</button>
            </div>
        </div>
    </form>
</div>
