<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-8 col-centered">
                <div class="company-my-jobs-list">
                    <div id="accordion1" role="tablist" class="job-upcoming">
                        <h5>Upcoming ({{upcomingJobCount}})</h5>
                        <p *ngIf="upcomingJobCount==0">Upcoming job post not found</p>
                        <div *ngFor="let upcoming of upcomingJobs">
                            <ng-container *ngFor="let jobs of upcoming;let i=index">
                                <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                                <ng-container *ngFor="let job of jobs.job;let j=index">
                                    <div class="card my-job-card">
                                        <div class="row align-items-center">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="Image" class="img-fluid company-myjob-features"
                                                    [src]="job.image" />
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-1">{{job.position}}</p>
                                                <p class="job-title">{{job.companyName}}</p>
                                                <p class="job-address">{{job.location}}</p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <p class="job-price-per">
                                                    €{{job.rate}} per {{job.type=="hourly" ?"hour": "month"}}
                                                </p>
                                                <!-- <p class="job-price-approx" *ngIf="job.type=='hourly'">
                                                    Approx: €{{job.approx}}
                                                </p> -->
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <div class="job-upcoming-action-btn">
                                                    <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                        data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                                    <a href="javascript:void(0);" class="delete-btn"
                                                        (click)="deleteJob(job.id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="job.applications.length"
                                        [ngClass]="{'mb-2':job.applications.length!=0}">
                                        <div class="card application-cart"
                                            *ngFor="let app of job.applications;let k=index">
                                            <div class="card-header" id="heading1{{i}}{{j}}{{k}}">
                                                <h5 class="mb-0 faq-title">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        [attr.data-target]="'#collapse1'+i+j+k" aria-expanded="false"
                                                        [attr.aria-controls]="'collapse1'+i+j+k">
                                                        {{job.applications.length}} application
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse1{{i}}{{j}}{{k}}" class="collapse"
                                                [attr.aria-labelledby]="'heading1'+i+j+k" data-parent="#accordion1">
                                                <div class="card-body">
                                                    <div class="row align-items-center mb-2"
                                                        *ngFor="let app of job.applications">
                                                        <div class="col-5 col-md-auto col-lg-auto">
                                                            <img alt="" class="img-fluid company-myjob-features"
                                                                [src]="app.image" />
                                                        </div>
                                                        <div class="col-7 col-md col-lg">
                                                            <p class="job-name mb-0">{{app.firstName}} {{app.lastName}}
                                                            </p>
                                                            <!-- <p class="job-title">{{app.comapany}}</p>
                                                            <p class="job-address">{{app.address}}</p> -->
                                                        </div>
                                                        <div class="col-12 col-md col-lg text-center"
                                                            [hidden]="!(app.status == 1)">Approved</div>
                                                        <div class="col-12 col-md-auto col-lg-4">
                                                            <div class="application-cart-btn">
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="approveJob(app.id)"
                                                                    [hidden]="app.status != 0">Approve</a>
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="disApproveJob(app.id)"
                                                                    [hidden]="app.status != 1">Terminate a contract</a>
                                                                <a href="javascript:void(0);" class="check-cv-btn"
                                                                    (click)="checkCV(app)" data-toggle="modal"
                                                                    data-target="#CheckCv">Check CV</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div id="accordion2" role="tablist" class="job-current">
                        <h5>Current ({{currentJobCount}})</h5>
                        <p *ngIf="currentJobCount==0">Current job post not found</p>
                        <div *ngFor="let current of currentJobs">
                            <ng-container *ngFor="let jobs of current;let i=index">
                                <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                                <ng-container *ngFor="let job of jobs.job; let j=index">
                                    <div class="card my-job-card">
                                        <div class="row align-items-center">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="Image" class="img-fluid company-myjob-features"
                                                    [src]="job.image" />
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-1">{{job.position}}</p>
                                                <p class="job-title">{{job.companyName}}</p>
                                                <p class="job-address">{{job.location}}</p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <p class="job-price-per">
                                                    €{{job.rate}} per {{job.type=="hourly" ?"hour": "month"}}
                                                </p>
                                                <!-- <p class="job-price-approx" *ngIf="job.type=='hourly'">
                                                    Approx: €{{job.approx}}
                                                </p> -->
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <div class="job-upcoming-action-btn">
                                                    <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                        data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                                    <a href="javascript:void(0);" class="delete-btn"
                                                        (click)="deleteJob(job.id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="job.applications.length"
                                        [ngClass]="{'mb-2':job.applications.length!=0}">
                                        <div class="card application-cart"
                                            *ngFor="let app of job.applications;let k=index">
                                            <div class="card-header" id="heading2{{i}}{{j}}{{k}}">
                                                <h5 class="mb-0 faq-title">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        [attr.data-target]="'#collapse2'+i+j+k" aria-expanded="false"
                                                        [attr.aria-controls]="'collapse2'+i+j+k">
                                                        {{job.applications.length}} application
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse2{{i}}{{j}}{{k}}" class="collapse"
                                                [attr.aria-labelledby]="'heading2'+i+j+k" data-parent="#accordion2">
                                                <div class="card-body">
                                                    <div class="row align-items-center mb-2"
                                                        *ngFor="let app of job.applications">
                                                        <div class="col-5 col-md-auto col-lg-auto">
                                                            <img alt="" class="img-fluid company-myjob-features"
                                                                [src]="app.image" />
                                                        </div>
                                                        <div class="col-7 col-md col-lg">
                                                            <p class="job-name mb-0">
                                                                {{app.firstName}} {{app.lastName}}
                                                            </p>
                                                            <!-- <p class="job-title">{{app.comapany}}</p>
                                                            <p class="job-address">{{app.address}}</p> -->
                                                        </div>
                                                        <div class="col-12 col-md col-lg text-center"
                                                            [hidden]="!(app.status == 1)">Approved</div>
                                                        <div class="col-12 col-md-auto col-lg-4">
                                                            <div class="application-cart-btn">
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="approveJob(app.id)"
                                                                    [hidden]="app.status != 0">Approve</a>
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="disApproveJob(app.id)"
                                                                    [hidden]="app.status != 1">Terminate a contract</a>
                                                                <a href="javascript:void(0);" class="check-cv-btn"
                                                                    (click)="checkCV(app)" data-toggle="modal"
                                                                    data-target="#CheckCv">Check CV</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div id="accordion3" role="tablist" class="job-current">
                        <h5>Completed Contracts ({{completeJobCount}})</h5>
                        <p *ngIf="completeJobCount==0">Completed Contracts not found</p>
                        <div *ngFor="let complete of completeJobCount">
                            <ng-container *ngFor="let jobs of complete;let i=index">
                                <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                                <ng-container *ngFor="let job of jobs.job;let j=index">
                                    <div class="card my-job-card">
                                        <div class="row align-items-center">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="Image" class="img-fluid company-myjob-features" [src]="job.image" />
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-1">{{job.position}}</p>
                                                <p class="job-title">{{job.companyName}}</p>
                                                <p class="job-address">{{job.location}}</p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <p class="job-price-per">
                                                    €{{job.rate}} per {{job.type=="hourly" ?"hour": "month"}}
                                                </p>
                                                <!-- <p class="job-price-approx" *ngIf="job.type=='hourly'">
                                                    Approx: €{{job.approx}}
                                                </p> -->
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <div class="job-upcoming-action-btn">
                                                    <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                        data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                                    <a href="javascript:void(0);" class="delete-btn"
                                                        (click)="deleteJob(job.id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="job.applications.length"
                                        [ngClass]="{'mb-2':job.applications.length!=0}">
                                        <div class="card application-cart"
                                            *ngFor="let app of job.applications;let k =index">
                                            <div class="card-header" id="heading3{{i}}{{j}}{{k}}">
                                                <h5 class="mb-0 faq-title">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                                        [attr.data-target]="'#collapse3'+i+j+k" aria-expanded="false"
                                                        [attr.aria-controls]="'collapse3'+i+j+k">
                                                        {{job.applications.length}} application
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse3{{i}}{{j}}{{k}}" class="collapse"
                                                [attr.aria-labelledby]="'heading3'+i+j+k" data-parent="#accordion3">
                                                <div class="card-body">
                                                    <div class="row align-items-center mb-2"
                                                        *ngFor="let app of job.applications">
                                                        <div class="col-5 col-md-auto col-lg-auto">
                                                            <img alt="" class="img-fluid company-myjob-features"
                                                                [src]="app.image" />
                                                        </div>
                                                        <div class="col-7 col-md col-lg">
                                                            <p class="job-name mb-0">{{app.firstName}} {{app.lastName}}
                                                            </p>
                                                            <!-- <p class="job-title">{{app.comapany}}</p>
                                                            <p class="job-address">{{app.address}}</p> -->
                                                        </div>
                                                        <div class="col-12 col-md col-lg text-center"
                                                            [hidden]="!(app.status == 1)">Approved</div>
                                                        <div class="col-12 col-md-auto col-lg-4">
                                                            <div class="application-cart-btn">
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="approveJob(app.id)"
                                                                    [hidden]="app.status != 0">Approve</a>
                                                                <a href="javascript:void(0);" class="approve-btn"
                                                                    (click)="disApproveJob(app.id)"
                                                                    [hidden]="app.status != 1">Terminate a contract</a>
                                                                <a href="javascript:void(0);" class="check-cv-btn"
                                                                    (click)="checkCV(app)" data-toggle="modal"
                                                                    data-target="#CheckCv">Check CV</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div id="accordion2" role="tablist" class="job-current">
                        <h5>Current ({{currentJobCount}})</h5>
                        <p *ngIf="currentJobCount==0">Current job post not found</p>
                        <div *ngFor="let current of currentJobs">
                            <ng-container *ngFor="let jobs of current">
                                <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                                <ng-container *ngFor="let job of jobs.job">
                                    <div class="card my-job-card">
                                        <div class="row align-items-center">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="Image" class="img-fluid company-myjob-features"
                                                    [src]="job.image" />
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-1">{{job.position}}</p>
                                                <p class="job-title">{{job.companyName}}</p>
                                                <p class="job-address">{{job.address}}</p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto"> {{job.type}}
                                                <p class="job-price-per">
                                                    €{{job.rate}} per {{job.type=="hourly" ?"hour": "month"}}
                                                </p>
                                                <p class="job-price-approx" *ngIf="job.type=='hourly'">
                                                    Approx: €{{job.approx}}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <div class="job-upcoming-action-btn">
                                                    <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                        data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                                    <a href="javascript:void(0);" class="delete-btn"
                                                        (click)="deleteJob(job.id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body" *ngIf="job.applications.length">
                                        <div class="row align-items-center mb-2" *ngFor="let app of job.applications">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="" class="img-fluid company-myjob-features" [src]="app.image">
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-0">{{app.name}}</p>
                                                <p class="job-title">{{app.comapany}}</p>
                                                <p class="job-address">{{app.address}}</p>
                                            </div>
                                            <div class="col-12 col-md col-lg text-center" [hidden]="!(app.status == 1)">
                                                Approved
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-4">
                                                <div class="application-cart-btn">
                                                    <a href="javascript:void(0);" class="approve-btn"
                                                        (click)="approveJob(app.id)"
                                                        [hidden]="app.status != 0">Approve</a>
                                                    <a href="javascript:void(0);" class="approve-btn"
                                                        (click)="disApproveJob(app.id)"
                                                        [hidden]="app.status != 1">Terminate a contract</a>
                                                    <a href="javascript:void(0);" class="check-cv-btn"
                                                        (click)="checkCV(app)" data-toggle="modal"
                                                        data-target="#CheckCv">Check CV</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div id="accordion3" role="tablist" class="job-current">
                        <h5>Completed Contracts ({{completeJobCount}})</h5>
                        <p *ngIf="completeJobCount==0">Completed Contracts job post not found</p>
                        <div *ngFor="let complete of completeJobCount">
                            <ng-container *ngFor="let jobs of complete">
                                <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                                <ng-container *ngFor="let job of jobs.job">
                                    <div class="card my-job-card">
                                        <div class="row align-items-center">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="Image" class="img-fluid company-myjob-features"
                                                    [src]="job.image" />
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-1">{{job.position}}</p>
                                                <p class="job-title">{{job.companyName}}</p>
                                                <p class="job-address">{{job.address}}</p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto"> {{job.type}}
                                                <p class="job-price-per">
                                                    €{{job.rate}} per {{job.type=="hourly" ?"hour": "month"}}
                                                </p>
                                                <p class="job-price-approx" *ngIf="job.type=='hourly'">
                                                    Approx: €{{job.approx}}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-auto">
                                                <div class="job-upcoming-action-btn">
                                                    <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                        data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                                    <a href="javascript:void(0);" class="delete-btn"
                                                        (click)="deleteJob(job.id)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body" *ngIf="job.applications.length">
                                        <div class="row align-items-center mb-2" *ngFor="let app of job.applications">
                                            <div class="col-5 col-md-auto col-lg-auto">
                                                <img alt="" class="img-fluid company-myjob-features" [src]="app.image">
                                            </div>
                                            <div class="col-7 col-md col-lg">
                                                <p class="job-name mb-0">{{app.name}}</p>
                                                <p class="job-title">{{app.comapany}}</p>
                                                <p class="job-address">{{app.address}}</p>
                                            </div>
                                            <div class="col-12 col-md col-lg text-center" [hidden]="!(app.status == 1)">
                                                Approved
                                            </div>
                                            <div class="col-12 col-md-auto col-lg-4">
                                                <div class="application-cart-btn">
                                                    <a href="javascript:void(0);" class="approve-btn"
                                                        (click)="approveJob(app.id)"
                                                        [hidden]="app.status != 0">Approve</a>
                                                    <a href="javascript:void(0);" class="approve-btn"
                                                        (click)="disApproveJob(app.id)"
                                                        [hidden]="app.status != 1">Terminate a contract</a>
                                                    <a href="javascript:void(0);" class="check-cv-btn"
                                                        (click)="checkCV(app)" data-toggle="modal"
                                                        data-target="#CheckCv">Check CV</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div> -->
                    <!-- <div class="job-Current">
                        <h5>Current ({{currentJobCount}})</h5>
                        <div *ngFor="let jobs of currentJobs">
                            <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                            <div class="card my-job-card" *ngFor="let job of jobs.jobs">
                                <div class="row align-items-center">
                                    <div class="col-5 col-md-auto col-lg-auto">
                                        <img alt="" class="img-fluid company-myjob-features" [src]="job.image">
                                    </div>
                                    <div class="col-7 col-md col-lg">
                                        <p class="job-name">{{job.jobName}}</p>
                                        <p class="job-title">{{job.companyName}}</p>
                                        <p class="job-address">{{job.address}}</p>
                                    </div>
                                    <div class="col-12 col-md-auto col-lg-auto">
                                        <p class="job-price-per">€{{job.rate}} per {{job.type=="hourly" ? "hour":
                                            "month"}}</p>
                                        <p class="job-price-approx" *ngIf="job.job.type=='hourly'">Approx:
                                            €{{job.approx}} </p>
                                    </div>
                                    <div class="col-12 col-md-auto col-lg-auto">
                                        <div class="job-upcoming-action-btn">
                                            <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                data-target="#editJob" (click)="onEditJob(job.job)">Edit</a>
                                            <a href="javascript:void(0);" class="delete-btn"
                                                (click)="deleteJob(job.id)">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordion">
                            <div class="card application-cart">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0 faq-title">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            application
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div id="accordion3" role="tablist" class="completed-contracts">
                        <h5>Completed Contracts ({{completeJobCount}})</h5>
                        <div *ngFor="let jobs of complateJobs">
                            <h5 class="font-weight-normal text-center">{{jobs.date}}</h5>
                            <div class="card my-job-card" *ngFor="let job of jobs.jobs">
                                <div class="row align-items-center">
                                    <div class="col-5 col-md-auto col-lg-auto">
                                        <img alt="" class="img-fluid company-myjob-features" [src]="job.image">
                                    </div>
                                    <div class="col-7 col-md col-lg">
                                        <p class="job-name">{{job.jobName}}</p>
                                        <p class="job-title">{{job.companyName}}</p>
                                        <p class="job-address">{{job.address}}</p>
                                    </div>
                                    <div class="col-12 col-md-auto col-lg-auto">
                                        <p class="job-price-per">€{{job.rate}} per hour</p>
                                        <p class="job-price-approx">Approx: €{{job.approx}} </p>
                                    </div>
                                    <div class="col-12 col-md-auto col-lg-auto">
                                        <div class="job-upcoming-action-btn">
                                            <a href="javascript:void(0);" class="edit-btn" data-toggle="modal"
                                                data-target="#editJob" (click)="onEditJob(job)">Edit</a>
                                            <a href="javascript:void(0);" class="delete-btn"
                                                (click)="deleteJob(job.id)">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade check-cv-modal" id="CheckCv" tabindex="-1" role="dialog" aria-labelledby="CheckCvTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">Documents</h5>
                <button type="button" class="close" id="cv-modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold mb-0">Description</label>
                            <p class="mb-0">{{description}}</p>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="documentArray.cv">
                    <label class="mb-0 font-weight-bold">Cv</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.cv">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>    
                <ng-container *ngIf="documentArray.medicalCertificate">
                    <label class="mb-0 font-weight-bold">Medical Certificate</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.medicalCertificate">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>   
                <ng-container *ngIf="documentArray.license">
                    <label class="mb-0 font-weight-bold">License</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.license">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>    
                <ng-container *ngIf="documentArray.certificates">
                    <label class="mb-0 font-weight-bold">Certificates</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.certificates">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>  
                <ng-container *ngIf="documentArray.criminalRecord">
                    <label class="mb-0 font-weight-bold">Criminal Record</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.criminalRecord">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>    
                <ng-container *ngIf="documentArray.hf">
                    <label class="mb-0 font-weight-bold">Hf</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.hf">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>
                <ng-container *ngIf="documentArray.ewis">
                    <label class="mb-0 font-weight-bold">EWIS</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.ewis">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>    
                <ng-container *ngIf="documentArray.cdccl">
                    <label class="mb-0 font-weight-bold">CDCCL</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.cdccl">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>  
                <ng-container *ngIf="documentArray.aircraftCertificates">
                    <label class="mb-0 font-weight-bold">Aircraft Certificates</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.aircraftCertificates">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container> 
                <ng-container *ngIf="documentArray.referenceForms">
                    <label class="mb-0  font-weight-bold">Reference Forms</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.referenceForms">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>
                <ng-container *ngIf="documentArray.experience">
                    <label class="mb-0  font-weight-bold">Experience</label>
                    <div class="form-row doc-row" *ngFor="let document of documentArray.experience">
                        <div class="col">
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen word-wrap">{{document.name}}</a>
                            <a href="{{document.file}}" target="_blank" download="download" class="text-lightgreen  word-wrap ml-3 ">Download <i class="fa fa-download text-lightgreen"></i></a>
                        </div>
                    </div><br>
                </ng-container>                
            </div>
        </div>
    </div>
    <div class="get-in-touch-mini-popup">
        <div class="mini-popup-content">
            <h5>Still have some questions?</h5>
            <h4>Get in touch with a candidates.</h4>
            <a class="btn mini-popup-send-btn" href="javascript:void(0)" (click)="sendMessageContractor()">Send a
                message</a>
        </div>
        <div class="round-one">
            <span></span>
        </div>
        <div class="round-two">
            <span></span>
        </div>
        <div class="round-three">
            <span></span>
        </div>
    </div>
</div>
<div class="modal fade check-cv-modal" id="editJob" tabindex="-1" role="dialog" aria-labelledby="CheckCvTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">Post available job now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModel>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-panel">
                    <div class="container-fluid">
                        <div class="row pt-3 pb-3">
                            <div class="col-md-12 col-lg-12 col-xl-12 col-centered">
                                <div class="post-job-form">
                                    <form [formGroup]="postjobform" (ngSubmit)="onUpdate()">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="position" placeholder="Position"
                                                        title="Position" class="form-control custom-textbox"
                                                        autocomplete="off" formControlName="position"
                                                        [ngClass]="{'is-invalid':postjobform.get('position').touched && postjobform.get('position').invalid}" />
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('position').errors?.required">Please
                                                            enter position</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control custom-textarea"
                                                        (keyup)="changeAddress()"
                                                        (onAddressChange)="onChangeAddress($event)"
                                                        ngx-google-places-autocomplete #placesRef="ngx-places"
                                                        name="location" rows="3" placeholder="Location"
                                                        formControlName="location"
                                                        [ngClass]="{'is-invalid':postjobform.get('location').touched && postjobform.get('location').invalid}" />
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('location').errors?.required">Please
                                                            enter location</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control custom-textarea" name="jobDescription"
                                                        rows="5" placeholder="Job description" autocomplete="off"
                                                        formControlName="jobDescription"
                                                        [ngClass]="{'is-invalid':postjobform.get('jobDescription').touched && postjobform.get('jobDescription').invalid}"></textarea>
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('jobDescription').errors?.required">Please
                                                            enter job description</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                            formControlName="siftRosterOn" id="shift-roster-on"
                                                            name="shift-roster-on" type="checkbox">
                                                        <label class="custom-control-label pl-2 agreement-label"
                                                            for="shift-roster-on">Shift roster / ON</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <input type="text" name="shift-roster-on-input" placeholder="11"
                                                        title="shift-roster-on-input"
                                                        class="form-control custom-textbox text-center"
                                                        formControlName="siftRosterOnTime"
                                                        [ngClass]="{'is-invalid':postjobform.get('siftRosterOnTime').touched && postjobform.get('siftRosterOnTime').invalid}" />
                                                    <div class="invalid-feedback d-block">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('siftRosterOnTime').errors?.required">Please
                                                            enter Shift roster / ON</label>
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('siftRosterOnTime').errors?.pattern">Please
                                                            enter valid hour</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                            formControlName="siftRosterOff" id="shift-roster-off"
                                                            name="shift-roster-off" type="checkbox">
                                                        <label class="custom-control-label pl-2 agreement-label"
                                                            for="shift-roster-off">Shift roster / OFF</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-5">
                                                <div class="form-group">
                                                    <input type="text" name="shift-roster-off-input" placeholder="12"
                                                        title="shift-roster-off-input"
                                                        class="form-control custom-textbox text-center"
                                                        formControlName="siftRosterOffTime"
                                                        [ngClass]="{'is-invalid':postjobform.get('siftRosterOffTime').touched && postjobform.get('siftRosterOffTime').invalid}" />
                                                    <div class="invalid-feedback d-block">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('siftRosterOffTime').errors?.required">Please
                                                            enter Shift roster / ON</label>
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('siftRosterOffTime').errors?.pattern">Please
                                                            enter valid hour</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="Hours per day" placeholder="Hours per day"
                                                        title="Hours per day" class="form-control custom-textbox"
                                                        formControlName="hourPerDay"
                                                        [ngClass]="{'is-invalid':postjobform.get('hourPerDay').touched && postjobform.get('hourPerDay').invalid}" />
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('hourPerDay').errors?.required">Please
                                                            enter hour</label>
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('hourPerDay').errors?.pattern">Please
                                                            enter valid hour</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-between">
                                            <div class="col-auto">
                                                <div class="form-group">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                            formControlName="dayShift" id="day-shift" name="day-shift"
                                                            type="checkbox">
                                                        <label class="custom-control-label pl-2 agreement-label"
                                                            for="day-shift">Day shift work</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="form-group">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                            formControlName="nightShift" id="night-shift"
                                                            name="night-shift" type="checkbox">
                                                        <label class="custom-control-label pl-2 agreement-label"
                                                            for="night-shift">Night shift work</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="form-group">
                                                    <div class="custom-control-lg custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                            formControlName="bothShift" id="both-shift"
                                                            name="both-shift" type="checkbox"
                                                            [checked]="postjobform.value.dayShift && postjobform.value.nightShift">
                                                        <label class="custom-control-label pl-2 agreement-label"
                                                            for="both-shift">Both</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Type &nbsp;&nbsp;</label>
                                                    <label class="font-weight-bold"><input type="radio"
                                                            formControlName="type" name="type" class="checkbox"
                                                            value="hourly" checked />&nbsp;Hourly</label>&nbsp;
                                                    <label class="font-weight-bold"><input type="radio"
                                                            formControlName="type" name="type" class="checkbox"
                                                            value="monthly" />&nbsp;Monthly</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="col-md-3">
                                                <label class="agreement-label">Rate</label>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="rate-input-row">
                                                    <div class="form-group">
                                                        <input type="text" name="shift-roster-off-input"
                                                            placeholder="12" title="shift-roster-off-input"
                                                            class="form-control custom-textbox text-center"
                                                            formControlName="rate"
                                                            [ngClass]="{'is-invalid':postjobform.get('rate').touched && postjobform.get('rate').invalid}" />
                                                        <div class="invalid-feedback">
                                                            <label class="font-medium"
                                                                *ngIf="postjobform.get('rate').errors?.required">Please
                                                                enter rate</label>
                                                            <label class="font-medium"
                                                                *ngIf="postjobform.get('rate').errors?.pattern">Please
                                                                enter valid rate</label>
                                                        </div>
                                                    </div>
                                                    <p>€ per {{postjobform.value.type=='hourly' ? 'hour' : 'month'}}</p>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-3">
                                            <div class="rate-info-box">
                                            <p>?</p>
                                            </div>
                                        </div> -->
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="col-md-3">
                                                <label>Contract length</label>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <input type="text" [min]="min" name="Contract Start"
                                                        placeholder="Contract Start" title="Contract Start"
                                                        class="form-control custom-textbox"
                                                        formControlName="contractStart" [owlDateTime]="contractStartDP"
                                                        [owlDateTimeTrigger]="contractStartDP"
                                                        [ngClass]="{'is-invalid':postjobform.get('contractStart').touched && postjobform.get('contractStart').invalid}" />
                                                    <owl-date-time #contractStartDP [pickerType]="'calendar'">
                                                    </owl-date-time>
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('contractStart').errors?.required">Please
                                                            enter contract start date</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group">
                                                    <input type="text" [min]="minEndDate" name="Contract End"
                                                        placeholder="Contract End" title="Contract End"
                                                        class="form-control custom-textbox"
                                                        formControlName="contractEnd" [owlDateTime]="contractEndDP"
                                                        [owlDateTimeTrigger]="contractEndDP"
                                                        [ngClass]="{'is-invalid':postjobform.get('contractEnd').touched && postjobform.get('contractEnd').invalid}" />
                                                    <owl-date-time #contractEndDP [pickerType]="'calendar'">
                                                    </owl-date-time>
                                                    <div class="invalid-feedback">
                                                        <label class="font-medium"
                                                            *ngIf="postjobform.get('contractEnd').errors?.required">Please
                                                            enter contract end date</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <div class="col-md-3">
                                                <label>Documents required</label>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="cv" id="cv" name="cv"
                                                                    type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="cv">CV</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="license" id="license"
                                                                    name="license" type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="license">License</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="reference" id="reference"
                                                                    name="reference" type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="reference">Reference</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="hf" id="hf" name="hf"
                                                                    type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="hf">HF</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="cdccl" id="cdccl" name="cdccl"
                                                                    type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="cdccl">CDCCL</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="ewis" id="ewis" name="ewis"
                                                                    type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="ewis">EWIS</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control-lg custom-control custom-checkbox">
                                                                <input
                                                                    class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                                    formControlName="other" id="other" name="other"
                                                                    type="checkbox">
                                                                <label class="custom-control-label pl-2 agreement-label"
                                                                    for="other">Other</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container formArrayName="otherText"
                                                    *ngFor="let other of otherTextList.controls; let i=index">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <input type="text" name="Other" placeholder="Other"
                                                                    title="Other" class="form-control custom-textbox"
                                                                    formControlName="{{i}}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="form-group ">
                                                                <button type="button"
                                                                    class="btn w-auto delete-document-button font-bold"
                                                                    (click)="removeOtherText(i)"
                                                                    [hidden]="(otherTextList.length==(i+1) || otherTextList.length==1)">
                                                                    Delete
                                                                </button>
                                                                <button type="button"
                                                                    class="btn w-auto add-document-button font-bold"
                                                                    (click)="addOtherText()"
                                                                    [hidden]="!(otherTextList.length==(i+1)) ">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i> add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="form-group text-center mt-5">
                                            <input type="hidden" formControlName="id" />
                                            <button type="submit" title="submit"
                                                class="btn btn-lightgreen font-bold company-post-job-submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>