<section class="section-style-1">
    <div class="container">
        <div class="bg-white p-4">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-2">
                            <img [src]="userDetails.image" alt="Profile Image" width="100" height="100" />
                        </div>
                        <div class="col-md-10 align-self-center">
                            <h3 class="text-blue font-weight-bold mb-0">{{userDetails.name}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-4 border">
                                <div>
                                    <h3 class="text-blue text-center font-weight-bold">Profile</h3>
                                </div>
                                <div class="" *ngIf="userDetails.address">
                                    <b>Address</b>
                                    <p>{{userDetails.address}}</p>
                                </div>     
                                <div class="" *ngIf="userDetails.businessName">
                                    <b>Business Name</b>
                                    <p>{{userDetails.businessName}}</p>
                                </div>       
                                <div class="" *ngIf="userDetails.companyName">
                                    <b>Company Name</b>
                                    <p>{{userDetails.companyName}}</p>
                                </div>
                                <div class="" *ngIf="userDetails.companyCode">
                                    <b>Company Code</b>
                                    <p>{{userDetails.companyCode}}</p>
                                </div>   
                                <div class="" *ngIf="userDetails.countryResidence">
                                    <b>Country Residence</b>
                                    <p>{{userDetails.countryResidence}}</p>
                                </div>           
                                <div class="" *ngIf="userDetails.jobTitle">
                                    <b>Job Title</b>
                                    <p>{{userDetails.jobTitle}}</p>
                                </div>           
                                <div class="" *ngIf="userDetails.hourrate">
                                    <b>Per Hour Rate</b>
                                    <p>{{userDetails.hourrate}}</p>
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>