<div id="top-header" [ngClass]="{'home-header':isFixed,'other-header':!isFixed}" class="top-header">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg static-top">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                    <img class="img-fluid logo-image" [src]="logoURL" alt="Aviacontractor" />
                </a>
                <button class="navbar-toggler navbar-collapse-button" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" title="Home" routerLinkActive="active" routerLink="/" href="javascript:void(0)"  [routerLinkActiveOptions]="{exact:true}">HOME<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" *ngIf="!isLogin">
                            <a class="nav-link" title="Contractor" routerLinkActive="active" routerLink="/contractor" href="javascript:void(0)">CONTRACTOR</a>
                        </li>
                        <li class="nav-item" *ngIf="!isLogin">
                            <a class="nav-link" title="Company" routerLinkActive="active" routerLink="/company" href="javascript:void(0)">COMPANY</a>
                        </li>
                        <li class="nav-item" *ngIf="!isLogin">
                            <a class="nav-link" title="Login" routerLink="/login" title="Login" href="javascript:void(0)">LOGIN</a>
                        </li>
                        <li class="nav-item" *ngIf="isLogin">
                            <a class="nav-link" title="Dashboard" title="Dashboard" (click)="navigateToLogin()" href="javascript:void(0)">DASHBOARD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>