<div class="container contractor-login-section">
    <div class="row pt-5 pb-5">
        <div class="col-md-12 col-centered text-center">
            <a href="#" [routerLink]="['/']"><img src="assets/img/aviacontractor-logo.svg" alt="Logo" title="Logo" class="logo-image"></a>
        </div>
    </div>
    <div class="row pt-5 pb-5 lr-user-icon">
        <div class="col-md-12 text-center pb-5">
            <h1 class="login-register-text">Log in</h1>
            <!-- <i class="fa fa-user-circle-o font-size-30" aria-hidden="true"></i> -->
            <svg class="login-icon" height="41.832" viewBox="0 0 41.832 41.832" width="41.832" xmlns="http://www.w3.org/2000/svg"><path d="M284.09,675.023a20.916,20.916,0,1,1,20.933,20.9A20.929,20.929,0,0,1,284.09,675.023Zm17.281,2.141-.379.137a12.855,12.855,0,0,0-5.426,3.611,6.649,6.649,0,0,0-1.676,3.157,1.2,1.2,0,0,0,.438,1.307,10.636,10.636,0,0,0,1.794,1.1,21.3,21.3,0,0,0,7.958,1.628,22.953,22.953,0,0,0,9.415-1.468,12.659,12.659,0,0,0,2.2-1.273,1.154,1.154,0,0,0,.427-1.271,5.883,5.883,0,0,0-1.089-2.427,12.442,12.442,0,0,0-5.848-4.3l-.531-.2a7.886,7.886,0,1,0-9.295-12.5,7.544,7.544,0,0,0-2.22,5.8A7.841,7.841,0,0,0,301.371,677.165Z" data-name="Path 1" id="Path_1" transform="translate(-284.09 -654.09)"></path></svg>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-6 col-lg-4 col-centered">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for='email' class="label">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email" title="Email" class="custom-form-control" autocomplete="off" formControlName="email" [ngClass]="{'is-invalid':loginForm.get('email').touched && loginForm.get('email').invalid}" />
                    <div class="invalid-feedback">
                        <label class="font-medium" *ngIf="loginForm.get('email').errors?.required">Please enter email id</label>
                        <label class="font-medium" *ngIf="loginForm.get('email').errors?.email">Please enter valid email id</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for='password' class="label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" title="Password" class="custom-form-control" autocomplete="off" formControlName="password" [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}"
                    />
                    <label class="invalid-feedback font-medium">Please enter password</label>
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="userType" id="userType" formControlName="userType" value="1" />
                    <button type="submit" name="submit" id="submit" value="LOGIN" title="Login" class="btn cc-login-button">LOGIN</button>
                </div>
                <div class="form-group text-center">
                    <a href="javascript:void(0)" class="text-black label" title="Forgot Password" [routerLink]="[ '/forgot-password']" >Forgot Password</a>
                </div>
                <div class="form-group text-center">
                    <a class="text-black label" title="Create Account" [routerLink]="[ '/contractor'] ">Create Account</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loader-wrapper" class="hide" #loader>
    <div id="loader"></div>
</div>