<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-8 col-centered">
                <div class="my-jobs-list">
                    <div class="my-job-card-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-center">Job Name</h5>
                            </div>
                            <div class="col-md-2">
                                <h5 class="text-center">Date</h5>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-9">
                                        <h5 class="text-center">Status</h5>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-job-card" *ngFor="let job of jobArray">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="job-user-info">
                                    <h6 class="mb-0">{{job.company}}</h6>
                                    <p class="mb-0 font-bold">{{job.name}}</p>
                                </div>
                            </div>
                            <div class="col-md-2 p-1">
                                <div class="post-date">
                                    <h6 class="mb-0 font-weight-bold">{{job.date}}</h6>
                                </div>
                            </div>
                            <div class="col-md-4" [hidden]="job.status != 0">
                                <div class="job-status">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6 class="mb-0 font-weight-bold">Waiting for approval</h6>
                                        </div>
                                        <div class="col-3">
                                            <span class="fa-stack waiting status-icon">
                                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                                <i class="fa fa-ellipsis-h fa-stack-1x response-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [hidden]="job.status != 2">
                                <div class="job-status">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6 class="mb-0 font-weight-bold">Declined</h6>
                                        </div>
                                        <div class="col-3">
                                            <span class="fa-stack declined status-icon">
                                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                                <i class="fa fa-times fa-stack-1x response-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [hidden]="job.status != 1">
                                <div class="job-status">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6 class="mb-0 font-weight-bold">Approved</h6>
                                        </div>
                                        <div class="col-3">
                                            <span class="fa-stack approved status-icon">
                                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                                <i class="fa fa-check fa-stack-1x response-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="jobArray.length">
                        <div class="col-md-12 text-center mt-2">
                            <h5 class="text-center">No record found</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>