.timesheet-column{
    width: 110px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.timesheet-left-arrow,
.timesheet-right-arrow{
   width: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
}
.btn-add-timesheet{
    padding: 5px 12px;
    background-color: #8f0a0d;
    border-radius: 50px;
    color: #FFF;
    width:70px;
    height: 49px;
}
.btn-update-timesheet div:first-child
{
    border-bottom: 1px solid #FFF;
}
.btn-update-timesheet div{
    font-size: 12px;
    font-weight: bold;
}
.btn-update-timesheet{
    width:70px;
    padding: 5px 12px;
    background-color: #088b11;
    border-radius: 50px;
    color: #FFF;
}
.font-size-14{
    font-size: 14px;
}
.btn-blue{
    color: #FFF;
    background-color: #2A578D;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.timesheet-heading,
.timesheet-body{
    display: flex;
    align-items: center;
}
.timesheet-body{
    padding: 0 15px;
}
.user-image{
    width:150px;
    height:150px;
}
.cursor{
    cursor: pointer;
}
@media (max-width: 767.98px){
    .timesheet-column h2{
        font-size: 14px;
    }
    .btn-add-timesheet,
    .btn-update-timesheet{
        width: 95%;
        padding: 2px;
        min-height: 49px;
        font-size: 10px;
    }
    .btn-update-timesheet div{
        font-size: 10px;
    }
}
