<!-- <div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-8 col-centered">
                <div class="con-job-serch-form">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback" (click)="onSearch()"></span>
                        <input type="text" (keyup)="onChangeSearchText($event)" [(ngModel)]="search" class="form-control" placeholder="Search by city, company name or position..">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 align-self-center">
                <h3>{{startDate | date:'MMMM'}}</h3>
            </div>
            <div class="col-lg-10">
                <div class="timesheet-heading">
                    <div class="timesheet-left-arrow">
                        <h2 class="mb-0"><a (click)="onChangeDate(0)"><i class="fa fa-chevron-left"></i></a></h2>
                    </div>
                    <div class="timesheet-column" *ngFor="let dates of datesList;let i = index;">
                        <h2 class="mb-0">{{dates | date:'d'}}</h2>
                    </div>
                    <div class="timesheet-right-arrow">
                        <h2 class="mb-0"><a (click)="onChangeDate(1)"><i class="fa fa-chevron-right"></i></a></h2>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="dateData.length">
            <ng-container *ngFor="let data of dateData;let i = index;">
                <div class="row border">
                    <div class="col-lg-2 align-self-center">
                        <div class="d-flex">
                            <div class=" text-center d-flex align-self-center">
                                <div class="custom-control-lg custom-control custom-checkbox mt-0">
                                    <input class="custom-control-input" type="checkbox" id="checkbox-{{i}}" [checked]="selectedUserList[i].check" (change)="onCheck(i,data.id,$event.target.checked)" name="checkbox-{{i}}" />
                                    <label class="custom-control-label pl-2 agreement-label" for="checkbox-{{i}}"></label>
                                </div>
                                <img [src]="data.image" width="30" height="30" />
                            </div>
                            <div class="pl-2 cursor" (click)="openPopup(data.id)">
                                <label class="font-size-14 font-weight-bold mb-0 cursor">{{data.name}}</label>
                                <p class="font-size-14 mb-0 cursor">{{data.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="timesheet-body">
                            <div class="timesheet-left-arrow"></div>
                            <div class="timesheet-column" *ngFor="let dates of data.timesheet;let j = index;">
                                <button type="button" *ngIf="dates.isPresent && dates.isCurrentMonth" (click)="openUpdateTimesheetModal(i,j,dates)" class="btn btn-update-timesheet 1">
                                    <div>{{dates.startTime}}</div>
                                    <div >{{dates.endTime}}</div>
                                </button>
                                <button type="button" *ngIf="dates.isPresent && !dates.isCurrentMonth" class="btn btn-update-timesheet">
                                    <div>{{dates.startTime}}</div>
                                    <div >{{dates.endTime}}</div>
                                </button>
                                <button type="button" *ngIf="!dates.isPresent" class="btn btn-add-timesheet">Off</button>
                            </div>
                            <div class="timesheet-right-arrow"></div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-control-lg custom-control custom-checkbox mt-2">
                        <input [checked]="isSelectAll" (change)="selectAll($event.target.checked)" class="custom-control-input" type="checkbox" id="selectAll" name="selectAll" />
                        <label class="custom-control-label pl-2 agreement-label" for="selectAll">Select All</label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <label><b>Total Hours :</b></label>&nbsp;<label>{{totalHour}}</label><br>
                    <label><b>Total Amount:</b></label>&nbsp;<label>€ {{totalHourAmount}}</label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <button (click)="onApprove()" type="button" class="btn btn-blue">Approve</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!dateData.length">
            <div class="row text-center mt-3">
                <div class="col-md-12">
                    <h4 class="font-weight-normal">Record not found...</h4>
                </div>
            </div>
        </ng-container>
    </div>
</div> -->
<div class="main-panel">
  <div class="container-fluid" id="main">
      <div class="row pt-2">
          <div class="col-md-8 col-centered">
              <div class="con-job-serch-form">
                  <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback" (click)="onSearch()"></span>
                      <input type="text" (keyup)="onChangeSearchText($event)" [(ngModel)]="search" class="form-control" placeholder="Search by city, company name or position..">
                  </div>
              </div>
          </div>
      </div>
      <div class="row pb-2">
        <div class="col-md-12">
          <div class="timesheet-table">
            <table class="w-100">
                <tr>
                  <th>
                    <div class="custom-control-lg custom-control custom-checkbox">
                      <input [checked]="isSelectAll" (change)="selectAll($event.target.checked)" class="custom-control-input" type="checkbox" id="selectAll" name="selectAll" />
                      <label class="custom-control-label" for="selectAll"></label>
                    </div>
                  </th>
                  <th>Date</th>
                  <th>Employee</th>
                  <th>Start</th>
                  <th>Finish</th>
                  <th>Brake</th>
                  <th>Total Hours</th>
                  <th>Total Amount</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let time of timesheetList;let i = index;">
                  <th>
                    <div *ngIf="!time.approved" class="custom-control-lg custom-control custom-checkbox">
                        <input [checked]="selectedUserList.includes(time.id)" (change)="onCheck(time.id,$event.target.checked)" class="custom-control-input" type="checkbox" id="checkbox-{{i}}" name="checkbox-{{i}}" />
                        <label class="custom-control-label" for="checkbox-{{i}}"></label>
                    </div>
                  </th>
                  <th>{{time.date | date:'d MMM y'}}</th>
                  <th>
                      <div class="d-flex" >
                        <div class=" text-center d-flex align-self-center">
                            <img [src]="time.image" width="30" height="30" title="Image" />
                        </div>
                        <div class="pl-2 cursor" >
                            <label class="font-size-14 font-weight-bold mb-0 cursor">{{time.name}}</label>
                            <p class="font-size-14 mb-0 cursor">{{time.address}}</p>
                        </div>
                    </div>
                  </th>
                  <th>{{time.startTime}}</th>
                  <th>{{time.endTime}}</th>
                  <th>{{time.breakTime}}</th>
                  <th>{{time.hours}}</th>
                  <th class="text-right">{{decimalNumber(time.totalamount)}} €</th>
                  <th>{{time.approved ? 'Approved' : 'Pending'}}</th>
                </tr>
                <tr *ngIf="!timesheetList.length">
                  <th colspan="9" class="text-center">No record found</th>
                </tr>
            </table>
            <div class=" mt-2 float-right">
              <button (click)="onChangeDate(0)" class="align-self-center font-bold bg-blue btn btn-sm  text-white mr-1" title="Previous">Previous</button>
              <button (click)="onChangeDate(1)" class="align-self-center font-bold bg-blue btn btn-sm text-white" title="Next">Next</button>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="timesheetList.length">
          <div class="row">
              <div class="col-md-12">
                    <div class="float-right mr-5">
                        <div>
                            <span class="font-bold">Total Hours : </span> <span class="font-bold">{{totalHour}}</span>
                        </div>
                        <div>
                            <span class="font-bold">Total Amount : </span> <span class="font-bold">{{decimalNumber(totalAmount)}} €</span>
                        </div>
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                    <div class="float-right mr-5">
                        <button type="button" (click)="onApprove()" class="btn btn-sm bg-blue text-white font-bold">Approve</button>
                    </div>
              </div>
          </div>
      </ng-container>     
  </div>
</div>
<!-- <modal #myModal>
    <modal-header>
        <h5 class="mb-0">Update Time</h5>
    </modal-header>
     <modal-content>
         <form (submit)="onUpdateTimesheetFormSubmit()" [formGroup]="updateTimesheetForm">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="startTime" class="font-weight-bold">Start Time</label>
                    <timepicker formControlName="startTime" [minuteStep]='1' id="startTime" [max]="updateTimesheetForm.get('endTime').value" [showMeridian]="ismeridian" name="startTime"></timepicker>
                    <div class="invalid-feedback d-block" *ngIf="updateTimesheetForm.get('startTime').hasError('required') && (updateTimesheetForm.get('startTime').touched || submitted)">
                        Please select start time
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="endTime" class="font-weight-bold">End Time</label>
                    <timepicker formControlName="endTime"  [minuteStep]='1' id="endTime" [showMeridian]="ismeridian" name="endTime"></timepicker>
                    <div class="invalid-feedback d-block" *ngIf="updateTimesheetForm.get('endTime').hasError('required') && (updateTimesheetForm.get('endTime').touched || submitted)">
                        Please select end time
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1 mb-1 text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
         </form>
    </modal-content>
</modal>

<modal #timesheetModal>
    <modal-header>
        <h5 class="mb-0">User Detail</h5>
    </modal-header>
     <modal-content>
        <div class="form-group row">
            <table class="table table-bordered">
                <tr>
                    <th colspan="3">
                        Name :
                    </th>
                    <td colspan="3">
                        {{user.name}}
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        Hour Rate :
                    </th>
                    <td colspan="3">
                        {{user.hourrate}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    <th>
                        Hour
                    </th><th>
                        Amount
                    </th>
                </tr>
                <tr *ngFor="let select of selectedUserTimesheet;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{select.date}}</td>
                    <td>{{select.startTime}}</td>
                    <td>{{select.endTime}}</td>
                    <td>{{select.hour}}</td>
                    <td>{{select.price}}</td>
                </tr>
                <tr>
                    <th class="text-center" colspan="4">Total</th>
                    <td>{{user.hour}}</td>
                    <td>{{user.price}}</td>
                </tr>
            </table>
        </div>
    </modal-content>
</modal> -->
