<div class="main-panel">
  <div class="container-fluid" id="main">
    <div class="row pt-5 pb-5">
      <div class="col-md-12 col-lg-11 col-xl-8 col-centered">
        <div id="alertBox" *ngIf="showAlertBox">
          <div class="alert alert-danger font-bold p-1 d-flex align-self-center ">&nbsp;
            <i class="fa fa-info-circle font-size-30"></i>&nbsp;&nbsp; <label class="mb-0 align-self-center">Please
              complete your profile first to apply a job</label>&nbsp;&nbsp;
            <a class=" text-black  align-self-center goto-profile-button" routerLinkActive="active"
              [routerLink]="['/contractor/profile']" title="Profile">Go to Profile</a>
          </div>
        </div>
        <div class="con-job-serch-form">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search by city, company name or position.."
              [(ngModel)]="searchText" autocomplete="off" />
          </div>
        </div>
        <div class="con-job-list">
          <ng-container *ngIf="jobArray.length">
            <div class="con-job-single-list" *ngFor="let job of jobArray  | filter:searchText; let i=index"
              (click)="onJobClick(i)">
              <div class="row">
                <div class="col-12 col-sm-auto col-md-auto">
                  <img class="img-fluid job-list-features" src="{{job.image}}" alt="Job image">
                </div>
                <div class="col" id="jobSection{{job.id}}" data-toggle="modal" data-target="#exampleModalCenter">
                  <p class="job-name mb-0">{{job.jobName}}</p>
                  <p class="job-title mb-0">{{job.companyName}}</p>
                  <p class="job-address mb-0">{{job.address}}</p>
                </div>
                <div class="col-12 col-sm-auto col-md-auto package-contract">
                  <p class="job-package"><span>€{{job.rate}}</span>&nbsp;per {{job.job.type=="hourly" ?"hour": "month"}}</p>
                  <p class="job-contract">{{job.contractMonths}}</p>
                  <p class="job-package" (click)="onSelectJob(job.job.id,job.job.latitude,job.job.longitude)" data-toggle="modal"
                    data-target="#exampleModalCenter1"><span>Map</span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!jobArray.length">
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-center">No record found</h5>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Modal -->
<div class="modal fade bd-example-modal-lg con-job-list-popup" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModel>
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" *ngIf="jobArray.length">
        <form class="" [formGroup]="applyForm" (ngSubmit)="onJobApplySubmit()">
          <div class="row">
            <div class="col-12 col-sm-auto col-md-auto">
              <img class="img-fluid job-list-features" *ngIf="jobArray[popupJobIndex].image"
                src="{{jobArray[popupJobIndex].image}}" alt="">
            </div>
            <div class="col">
              <p class="job-title" *ngIf="jobArray[popupJobIndex].companyName">{{jobArray[popupJobIndex].companyName}}
              </p>
              <p class="job-address" *ngIf="jobArray[popupJobIndex].address">{{jobArray[popupJobIndex].address}}</p>
            </div>
            <div class="col-12 col-sm-auto col-md-auto package-contract">
              <p class="job-package" *ngIf="jobArray[popupJobIndex].rate">
                <span>€{{jobArray[popupJobIndex].rate}}</span>&nbsp;per {{jobArray[popupJobIndex].type=="hourly" ?"hour": "month"}}
              </p>
              <p class="job-contract" *ngIf="jobArray[popupJobIndex].contractMonths">
                {{jobArray[popupJobIndex].contractMonths}}</p>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12">
              <p class="job-name" *ngIf="jobArray[popupJobIndex].jobName">{{jobArray[popupJobIndex].jobName}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="job-description-title">Job description</p>
              <p class="job-description" *ngIf="jobArray[popupJobIndex].jobDescription">
                {{jobArray[popupJobIndex].jobDescription}}</p>
            </div>
          </div>

          <div class="row job-details-popup" *ngIf="jobArray[popupJobIndex].job.siftRosterOn">
            <div class="col-md-12">
              <p class="details-name">Shift roster / ON</p>
              <p *ngIf="jobArray[popupJobIndex].job.siftRosterOnTime">
                {{jobArray[popupJobIndex].siftRosterOnTime}} days
              </p>
            </div>
          </div>
          <div class="row job-details-popup" *ngIf="jobArray[popupJobIndex].job.siftRosterOff">
            <div class="col-md-12">
              <p class="details-name">Shift roster / OFF</p>
              <p *ngIf="jobArray[popupJobIndex].job.siftRosterOffTime">
                {{jobArray[popupJobIndex].siftRosterOffTime}} days
              </p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-12">
              <p class="details-name">Day shift work</p>
              <p *ngIf="jobArray[popupJobIndex].job.dayShift">
                {{jobArray[popupJobIndex].job.dayShift ? 'On' : 'Off'}}
              </p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-12">
              <p class="details-name">Night shift work</p>
              <p *ngIf="jobArray[popupJobIndex].job.nightShift">
                {{jobArray[popupJobIndex].job.nightShift ? 'On' : 'Off'}}
              </p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-12">
              <p class="details-name">Hours per day</p>
              <p *ngIf="jobArray[popupJobIndex].job.hourPerDay">{{jobArray[popupJobIndex].job.hourPerDay}}</p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-12">
              <p class="details-name">Contract Start</p>
              <p *ngIf="jobArray[popupJobIndex].job.contractStart">{{jobArray[popupJobIndex].job.contractStart}}</p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-6">
              <p class="details-name">Contract End</p>
              <p *ngIf="jobArray[popupJobIndex].job.contractEnd">{{jobArray[popupJobIndex].job.contractEnd}}</p>
            </div>
          </div>
          <div class="row job-details-popup">
            <div class="col-md-6">
              <p class="details-name">Documents required</p>
              <p>
                {{jobArray[popupJobIndex].job.cv ? 'CV' : ''}}<br *ngIf="jobArray[popupJobIndex].job.cv">
                {{jobArray[popupJobIndex].job.license ? 'License' : ''}}<br *ngIf="jobArray[popupJobIndex].job.license">
                {{jobArray[popupJobIndex].job.reference ? 'Reference' : ''}}<br
                  *ngIf="jobArray[popupJobIndex].job.reference">
                {{jobArray[popupJobIndex].job.hf ? 'HF' : ''}}<br *ngIf="jobArray[popupJobIndex].job.hf">
                {{jobArray[popupJobIndex].job.cdccl ? 'CDCCL' : ''}}<br *ngIf="jobArray[popupJobIndex].job.cdccl">
                {{jobArray[popupJobIndex].job.ewis ? 'EWIS' : ''}}<br *ngIf="jobArray[popupJobIndex].job.ewis">
                {{jobArray[popupJobIndex].job.other ? jobArray[popupJobIndex].job.otherText : ''}}<br
                  *ngIf="jobArray[popupJobIndex].job.other">
              </p>
            </div>
          </div>
          <div class="row" *ngIf="!jobArray[popupJobIndex].is_applied">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                  placeholder="Tell us about yourself.." formControlName="jobDescription"
                  [ngClass]="{'is-invalid':applyForm.get('jobDescription').touched && applyForm.get('jobDescription').invalid}"></textarea>
                <label class="invalid-feedback font-medium">Please enter description</label>
              </div>
            </div>
          </div>
          <div class="row mb-3" *ngIf="!jobArray[popupJobIndex].is_applied">
            <div class="col-md-12">
              <div class="custom-control-lg custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="jobTermCondtion" name="jobTermCondtion"
                  formControlName="jobTermCondtion" />
                <label class="custom-control-label pl-2 agreement-label" for="jobTermCondtion">I agree with terms and
                  conditions</label>
                <label class="text-danger d-flex text-left pl-3 font-size-14"
                  *ngIf="applyForm.get('jobTermCondtion').touched && applyForm.get('jobTermCondtion').invalid">Please
                  select agreement</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!jobArray[popupJobIndex].is_applied">
            <div class="col-md-12">
              <div class="form-group text-right">
                <input type="hidden" formControlName="jobId" />
                <button type="submit" class="btn job-popup-submit-btn">Apply</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="jobArray[popupJobIndex].is_applied">
            <div class="col-md-12">
              <div class="form-group text-center text-lightgreen">
                  Allready Applied
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div class="modal fade home-map-popup" id="exampleModalCenter1" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" #closeModal (click)="showMap=false;" class="close p-close-btn" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body" [hidden]="!showMap">
        <agm-map  (mapReady)="mapReady($event)" #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="markerClick(0)">
          <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let location of jobLocationList;let i = index" [latitude]="location.job.latitude" [longitude]="location.job.longitude" (markerClick)="markerClick(location.id)" >
              <agm-info-window [isOpen]="location.id==currentInfoWindowIndex">
                <div class="row">
                  <div class="col-lg mb-2 mb-lg-0">
                    <div class="row">
                      <div class="col-auto mb-1">
                        <img class="img-fluid list-member-img" src="{{location.image}}" />
                      </div>
                      <div class="col">
                        <div class="listmember-name">
                          <a (click)="navigate('/job-detail',location.id,closeModal)">
                            <p class="text-blue mb-1">{{location.job.position}}</p>
                          </a>
                        </div>
                        <div class="mb-1">
                          <span class="text-blue font-weight-bold">
                            € {{location.rate}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-marker-cluster>
        </agm-map>
      </div>
    </div>
  </div>
</div>