/* You can add global styles to this file, and also import other style files */
#toast-container>div {
    opacity: 1;
}
.toast-container .ngx-toastr {
    width: 350px;
}
.toast-top-right {
    right: 75px;
}
.toast-success{
    background-color: #662D8F;
}
    
