<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-md-12 col-lg-12 col-centered">
            <h5 class="text-center">Verify Account</h5>
        </div>
    </div>
</div>
