<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="container contact-us-section">
            <div class="row pt-4 pb-4">
                <div class="col-md-6 col-lg-5 col-centered contact-form">
                    <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <h1 class="text-center">LET'S TALK</h1>
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" id="name" placeholder="Name" title="Name"
                                class="form-control form-control-lg" formControlName="name"
                                [ngClass]="{'is-invalid':contactForm.get('name').touched && contactForm.get('name').invalid}" />
                            <label class="invalid-feedback font-medium">Please enter name</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" id="email" placeholder="Email" title="Email"
                                class="form-control form-control-lg" formControlName="email"
                                [ngClass]="{'is-invalid':contactForm.get('email').touched && contactForm.get('email').invalid}" />
                            <div class="invalid-feedback">
                                <label class="font-medium" *ngIf="contactForm.get('email').errors?.required">Please
                                    enter email id</label>
                                <label class="font-medium" *ngIf="contactForm.get('email').errors?.email">Please enter
                                    valid email id</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" rows="5" id="message" placeholder="Message" title="Message"
                                class="form-control form-control-lg noresize" formControlName="message"
                                [ngClass]="{'is-invalid':contactForm.get('message').touched && contactForm.get('message').invalid}"></textarea>
                            <label class="invalid-feedback font-medium">Please enter message</label>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" name="submit" id="submit" value="Submit"
                                class="btn button-1 contactus-button" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>