<div class="container-fluid business-banner">
    <div class="row pt-5 pb-5">
        <div class="col-md-6">
            <h1 class="pl-5 pt-2 looking-extra-staff-text">LOOKING FOR <br>ENGINEERS?</h1>
            <p class="pl-5 booking-section">Find team members on Aviacontractor.com</p>
        </div>
        <div class="col-md-6 business-register">
            <div class="row">
                <div class="col-sm-7 col-md-9 col-lg-7 col-centered">
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <h4 class="text-white register-text">REGISTER HERE</h4>
                        </div>
                        <div class="form-group">
                            <label for="companyName" class="text-white label mb-0">Company name</label>
                            <input type="text" name="companyName" id="companyName" title="Company Name" placeholder="Company Name" class="custom-form-control text-white" formControlName="companyName" [ngClass]="{'is-invalid':registerForm.get('companyName').touched && registerForm.get('companyName').invalid}"
                            />
                            <label class="invalid-feedback text-white font-medium">
                                Please enter company name
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="jobTitle" class="text-white label mb-0">Job title</label>
                            <input type="text" name="jobTitle" id="jobTitle" title="Job title" placeholder="Job title" class="custom-form-control text-white" formControlName="jobTitle" [ngClass]="{'is-invalid':registerForm.get('jobTitle').touched && registerForm.get('jobTitle').invalid}"
                            />
                            <label class="invalid-feedback text-white font-medium">
                                Please enter job title
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="text-white label mb-0">First name</label>
                            <input type="text" name="firstName" id="firstName" title="First name" placeholder="First name" class="custom-form-control text-white" formControlName="firstName" [ngClass]="{'is-invalid':registerForm.get('firstName').touched && registerForm.get('firstName').invalid}"
                                autocomplete="off" />
                            <label class="invalid-feedback text-white font-medium">
                                Please enter first name
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="text-white label mb-0">Last name</label>
                            <input type="text" name="lastName" id="lastName" title="Last name" placeholder="Last name" class="custom-form-control text-white" formControlName="lastName" [ngClass]="{'is-invalid':registerForm.get('lastName').touched && registerForm.get('lastName').invalid}"
                            />
                            <label class="invalid-feedback text-white font-medium">
                                    Please enter last name
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-white label mb-0">Email</label>
                            <input type="text" name="email" id="email" title="Email" placeholder="Email" class="custom-form-control text-white" formControlName="email" [ngClass]="{'is-invalid':registerForm.get('email').touched && registerForm.get('email').invalid}" />
                            <div class="invalid-feedback">
                                <label class="text-white font-medium" *ngIf="registerForm.get('email').errors?.required">Please enter email id</label>
                                <label class="text-white font-medium" *ngIf="registerForm.get('email').errors?.email">Please enter valid email id</label>
                                <label class="text-white font-medium" *ngIf="registerForm.get('email').errors?.isEmailUnique">Email id already exist</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber" class="text-white label mb-0">Phone number</label>
                            <input type="text"  name="mobileNumber" id="mobileNumber" title="Phone number" placeholder="Phone number" class="custom-form-control text-white" formControlName="mobileNumber" [ngClass]="{'is-invalid':registerForm.get('mobileNumber').touched && registerForm.get('mobileNumber').invalid}"
                            />
                            <div class="invalid-feedback">
                                <label class="text-white font-medium" *ngIf="registerForm.get('mobileNumber').errors?.required">Please enter phone number</label>
                                <label class="text-white font-medium" *ngIf="registerForm.get('mobileNumber').errors?.pattern">Please enter only number</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white label mb-0">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password" title="Password" class="custom-form-control text-white" formControlName="password" [ngClass]="{'is-invalid':registerForm.get('password').touched && registerForm.get('password').invalid}"
                                autocomplete="off" />
                                <label class="invalid-feedback text-white font-medium">
                                    Please enter password
                                </label>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="text-white label mb-0">Repeat new password</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repeat new password" title="Repeat new password" class="custom-form-control text-white" formControlName="confirmPassword" [ngClass]="{'is-invalid':registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}"
                                autocomplete="off" />
                            <label class="invalid-feedback text-white font-medium" *ngIf="registerForm.get('confirmPassword').errors?.required"> Please enter repeat new password</label>
                            <label class="text-white font-medium font-size-14" *ngIf="registerForm.hasError('mustMatch') && (!registerForm.get('confirmPassword').errors?.required)"> Repeat new password does not match to password</label>
                        </div>                        
                        <div class="form-group pt-3 mb-5 enter-button-section">
                            <input type="hidden" name="userType" id="userType" formControlName="userType" value="2" />
                            <button type="submit" name="submit" id="submit" placeholder="ENTER" title="ENTER" class="btn enter-button">ENTER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container company-mew">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h2 class="text-center pt-5 mt-5 text-gray mew-title">LOCATE AVIATION PROFESSIONALS IN THE MOST EFFICIENT WAY</h2>
        </div>
    </div>
    <div class="row justify-content-center pt-3 pb-5">
        <div class="col-md-6 pt-4">
            <div class="company-solu-item">
                <img src="assets/img/company1-way-1.png" class="img-fluid">
                <p>DIRECT CONTACT (REVIEW CV, CHAT)</p>
            </div>
            <div class="company-solu-item">
                <img src="assets/img/company1-way-2.png" class="img-fluid">
                <p>AGREE UPON ASSIGNEMENT</p>
            </div>
            <div class="company-solu-item">
                <img src="assets/img/company1-way-3.png" class="img-fluid">
                <p>RECEIVE TIMESHEET</p>
            </div>
            <div class="company-solu-item">
                <img src="assets/img/company1-way-4.png" class="img-fluid">
                <p>SECURE PAYMENT ONLY FOR APPROVED WORK</p>
            </div>
            <div class="company-solu-item">
                <img src="assets/img/company1-way-5.png" class="img-fluid">
                <p>PROVIDE FEEDBACK</p>
            </div>
        </div>
    </div>
</div>
