<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-8 col-centered">
               <div class="bg-white pb-3 pt-3">
                <h3 class="text-center">PAYMENT HISTORY</h3>
               <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Plan Start Date</th>
                                <th>Plan End Date</th>
                                <th>Plan Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>   
                        <tbody>
                            <ng-container *ngIf="paymentHistory.length">
                                <tr *ngFor="let payment of paymentHistory;let i = index">    
                                    <td>{{(((page-1)*10)+i)+1}}</td>
                                    <td>{{payment.start_date}}</td>
                                    <td>{{payment.end_date}}</td>
                                    <td>{{payment.name}}</td>
                                    <td>€{{payment.price}}</td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="!paymentHistory.length">
                                <tr>
                                    <td colspan="5" class="text-center">Record not found</td>
                                </tr>
                            </ng-container>                            
                        </tbody>                           
                    </table>
                    <ng-container *ngIf="paymentHistory.length">
                        <div class="text-right float-right">
                            <pagination  [(ngModel)]="page" [totalItems]="totalRecord" [itemsPerPage]="10"
                            (pageChanged)="pageChanged($event)"></pagination>
                        </div>
                        </ng-container>                    
               </div>
            </div>
        </div>
        </div>
    </div>
</div>
