<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-6 col-centered">
                <div class="company-profile-form">
                    <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <h5>Business profile</h5>
                        <div class="row mb-3">
                            <div class="col-auto text-center">
                                <div class="user-profile" (click)="openFileManager()" *ngIf="!showImage">
                                    <p>Photo</p>                                    
                                </div>
                                <img [src]="userImage" width="125px" height="125px" (click)="openFileManager()" [hidden]="!showImage" id="userImage"  #image/>
                                <input type="file" name="image" id="image" class="d-none" #file (change)="onSelectImage(file.files)" />
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="firstName" placeholder="First name" title="First name" class="form-control custom-textbox" formControlName="firstName" [ngClass]="{'is-invalid':profileForm.get('firstName').touched && profileForm.get('firstName').invalid}"
                                    />
                                    <label class="invalid-feedback font-medium">Please enter first name</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lastName"  placeholder="Last name" title="Last name" class="form-control custom-textbox" formControlName="lastName" [ngClass]="{'is-invalid':profileForm.get('lastName').touched && profileForm.get('lastName').invalid}"
                                    />
                                    <label class="invalid-feedback font-medium">Please enter last name</label>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="text" name="jobTitle"  placeholder="Job title" title="Job title" class="form-control custom-textbox" formControlName="jobTitle" [ngClass]="{'is-invalid':profileForm.get('jobTitle').touched && profileForm.get('jobTitle').invalid}"
                                    />
                                    <label class="invalid-feedback font-medium">Please enter job title</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="businessName" placeholder="Business name" title="Business name" class="form-control custom-textbox" formControlName="businessName" [ngClass]="{'is-invalid':profileForm.get('businessName').touched && profileForm.get('businessName').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter business name</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="companyName"  placeholder="Company name" title="Company name" class="form-control custom-textbox" formControlName="companyName" [ngClass]="{'is-invalid':profileForm.get('companyName').touched && profileForm.get('companyName').invalid}"
                            />
                            <label class="invalid-feedback font-medium">Please enter company name</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="address" (keyup)="changeAddress()" placeholder="Address" title="Address" class="form-control custom-textbox" formControlName="address" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="onChangeAddress($event)" [ngClass]="{'is-invalid':profileForm.get('address').touched && profileForm.get('address').invalid}"/>
                            <label class="invalid-feedback font-medium">Please enter address</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="email"  placeholder="Email" title="Email" class="form-control custom-textbox" formControlName="email" [ngClass]="{'is-invalid':profileForm.get('email').touched && profileForm.get('email').invalid}" />
                            <div class="invalid-feedback">
                                <label class=" font-medium" *ngIf="profileForm.get('email').errors?.required">Please enter email id</label>
                                <label class=" font-medium" *ngIf="profileForm.get('email').errors?.email">Please enter valid email id</label>
                                <label class=" font-medium" *ngIf="profileForm.get('email').errors?.isEmailUnique">Email id already exist</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="mobileNumber"  placeholder="Phone number" title="Phone number" class="form-control custom-textbox" formControlName="mobileNumber" [ngClass]="{'is-invalid':profileForm.get('mobileNumber').touched && profileForm.get('mobileNumber').invalid}"
                            />
                            <div class="invalid-feedback">
                                <label class=" font-medium" *ngIf="profileForm.get('mobileNumber').errors?.required">Please enter phone number</label>
                                <label class=" font-medium" *ngIf="profileForm.get('mobileNumber').errors?.pattern">Please enter only number</label>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <input type="hidden" formControlName="userType"> 
                            <button type="submit" title="submit" class="btn btn-lightgreen font-bold contractor-profile-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>