<div class="main-panel">
    <div class="container-fluid" id="main">
        <div class="row pt-5 pb-5">
            <div class="col-md-11 col-lg-11 col-xl-6 col-centered">
                <div class="post-job-form">
                    <form [formGroup]="postjobform" (ngSubmit)="onSubmit()">
                        <div id="alertBox" *ngIf="showAlertBox">
                            <div class="alert alert-danger font-bold p-1 d-flex align-self-center ">&nbsp;
                                <i class="fa fa-info-circle font-size-30"></i>&nbsp;&nbsp; <label
                                    class="mb-0 align-self-center">Please complete your profile first to post a
                                    job</label>&nbsp;&nbsp;
                                <a class=" text-black  align-self-center goto-profile-button" routerLinkActive="active"
                                    [routerLink]="['/company/profile']" title="Profile">Go to Profile</a>
                            </div>
                        </div>
                        <h5>Post available job now</h5>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" name="position" placeholder="Position"
                                        title="Position" class="form-control custom-textbox" autocomplete="off"
                                        formControlName="position"
                                        [ngClass]="{'is-invalid':postjobform.get('position').touched && postjobform.get('position').invalid}" />
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('position').errors?.required">Please enter
                                            position</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control custom-textarea" (keyup)="changeAddress()"
                                        ngx-google-places-autocomplete #placesRef="ngx-places" name="location" rows="3"
                                        placeholder="Location" autocomplete="off" formControlName="location"
                                        [ngClass]="{'is-invalid':postjobform.get('location').touched && postjobform.get('location').invalid}"
                                        (onAddressChange)="onChangeAddress($event)" />
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('location').errors?.required">Please enter
                                            location</label>
                                    </div>
                                    <label class="font-medium text-danger" *ngIf="validLocation">Please select
                                        location</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea autocomplete="off" class="form-control custom-textarea"
                                        name="jobDescription" rows="5" placeholder="Job description" autocomplete="off"
                                        formControlName="jobDescription"
                                        [ngClass]="{'is-invalid':postjobform.get('jobDescription').touched && postjobform.get('jobDescription').invalid}"></textarea>
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('jobDescription').errors?.required">Please enter job
                                            description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                            formControlName="siftRosterOn" id="shift-roster-on" name="shift-roster-on"
                                            type="checkbox">
                                        <label class="custom-control-label pl-2 agreement-label"
                                            for="shift-roster-on">Shift roster / ON</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <input type="text" name="shift-roster-on-input" placeholder="11"
                                        title="shift-roster-on-input" class="form-control custom-textbox text-center"
                                        formControlName="siftRosterOnTime"
                                        [ngClass]="{'is-invalid':postjobform.get('siftRosterOnTime').touched && postjobform.get('siftRosterOnTime').invalid}" />
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('siftRosterOnTime').errors?.required">Please enter
                                            Shift roster / ON</label>
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('siftRosterOnTime').errors?.pattern">Please enter
                                            valid hour</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                            formControlName="siftRosterOff" id="shift-roster-off"
                                            name="shift-roster-off" type="checkbox">
                                        <label class="custom-control-label pl-2 agreement-label"
                                            for="shift-roster-off">Shift roster / OFF</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" name="shift-roster-off-input" placeholder="12"
                                        title="shift-roster-off-input" class="form-control custom-textbox text-center"
                                        formControlName="siftRosterOffTime"
                                        [ngClass]="{'is-invalid':postjobform.get('siftRosterOffTime').touched && postjobform.get('siftRosterOffTime').invalid}" />
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('siftRosterOffTime').errors?.required">Please enter
                                            Shift roster / OFF</label>
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('siftRosterOffTime').errors?.pattern">Please enter
                                            valid hour</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" name="Hours per day"
                                        placeholder="Hours per day" title="Hours per day"
                                        class="form-control custom-textbox" formControlName="hourPerDay"
                                        [ngClass]="{'is-invalid':postjobform.get('hourPerDay').touched && postjobform.get('hourPerDay').invalid}" />
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('hourPerDay').errors?.required">Please enter
                                            hour</label>
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('hourPerDay').errors?.pattern">Please enter valid
                                            hour</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-between">
                            <div class="col-auto">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                            formControlName="dayShift" id="day-shift" name="day-shift" type="checkbox">
                                        <label class="custom-control-label pl-2 agreement-label" for="day-shift">Day
                                            shift work</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                            formControlName="nightShift" id="night-shift" name="night-shift"
                                            type="checkbox">
                                        <label class="custom-control-label pl-2 agreement-label" for="night-shift">Night
                                            shift work</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <div class="custom-control-lg custom-control custom-checkbox">
                                        <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                            formControlName="bothShift" id="both-shift" name="both-shift"
                                            type="checkbox"
                                            [checked]="postjobform.value.dayShift && postjobform.value.nightShift">
                                        <label class="custom-control-label pl-2 agreement-label"
                                            for="both-shift">Both</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="font-weight-bold">Type &nbsp;&nbsp;</label>
                                    <label class="font-weight-bold"><input type="radio" formControlName="type"  name="type" class="checkbox"  value="hourly" checked/>&nbsp;Hourly</label>&nbsp;
                                    <label class="font-weight-bold"><input type="radio" formControlName="type" name="type" class="checkbox" value="monthly" />&nbsp;Monthly</label>                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-md-3">
                                <label class="agreement-label">Rate</label>
                            </div>
                            <div class="col-md-9">
                                <div class="rate-input-row">
                                    <div class="form-group">
                                        <input autocomplete="off" type="text" name="shift-roster-off-input"
                                            placeholder="12" title="shift-roster-off-input"
                                            class="form-control custom-textbox text-center" formControlName="rate"
                                            [ngClass]="{'is-invalid':postjobform.get('rate').touched && postjobform.get('rate').invalid}" />
                                        <div class="invalid-feedback">
                                            <label class="font-medium"
                                                *ngIf="postjobform.get('rate').errors?.required">Please enter
                                                rate</label>
                                            <label class="font-medium"
                                                *ngIf="postjobform.get('rate').errors?.pattern">Please enter valid
                                                rate</label>
                                        </div>
                                    </div>
                                    <p>€ per {{postjobform.value.type=='hourly' ? 'hour' : 'month'}}</p> 
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="rate-info-box" >
                                    <p>?</p>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-md-3">
                                <label>Contract length</label>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" name="Contract Start"
                                        placeholder="Contract Start" title="Contract Start"
                                        class="form-control custom-textbox" formControlName="contractStart"
                                        [owlDateTime]="contractStartDP" [owlDateTimeTrigger]="contractStartDP"
                                        [ngClass]="{'is-invalid':postjobform.get('contractStart').touched && postjobform.get('contractStart').invalid}"
                                        [min]="min" (ngModelChange)="onStartChange($event)" />
                                    <owl-date-time #contractStartDP [pickerType]="'calendar'"></owl-date-time>
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('contractStart').errors?.required">Please enter
                                            contract start date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" name="Contract End" placeholder="Contract End"
                                        title="Contract End" class="form-control custom-textbox"
                                        formControlName="contractEnd" [owlDateTime]="contractEndDP"
                                        [owlDateTimeTrigger]="contractEndDP"
                                        [ngClass]="{'is-invalid':postjobform.get('contractEnd').touched && postjobform.get('contractEnd').invalid}"
                                        [min]="minEndDate" />
                                    <owl-date-time #contractEndDP [pickerType]="'calendar'"></owl-date-time>
                                    <div class="invalid-feedback">
                                        <label class="font-medium"
                                            *ngIf="postjobform.get('contractEnd').errors?.required">Please enter
                                            contract end date</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col-md-3">
                                <label>Documents required</label>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="cv" id="cv" name="cv" type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="cv">CV</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="reference" id="reference" name="reference"
                                                    type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="reference">Reference</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="license" id="license" name="license"
                                                    type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="license">Engineer License (EASA Part-66 Licence / FAA)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="hf" id="hf" name="hf" type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="hf">HF</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="cdccl" id="cdccl" name="cdccl" type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="cdccl">CDCCL</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="ewis" id="ewis" name="ewis" type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="ewis">EWIS</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="form-group">
                                            <div class="custom-control-lg custom-control custom-checkbox">
                                                <input class="custom-control-input ng-untouched ng-pristine ng-invalid"
                                                    formControlName="other" id="other" name="other" type="checkbox">
                                                <label class="custom-control-label pl-2 agreement-label"
                                                    for="other">Other</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-container formArrayName="otherText"
                                    *ngFor="let other of otherTextList.controls; let i=index">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" name="other-{{i}}" placeholder="Other" title="Other"
                                                    class="form-control custom-textbox" formControlName="{{i}}" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-group ">
                                                <button type="button"
                                                    class="btn w-auto delete-document-button font-bold"
                                                    (click)="removeOtherText(i)"
                                                    [hidden]="(otherTextList.length==(i+1) || otherTextList.length==1)">
                                                    Delete
                                                </button>
                                                <button type="button" class="btn w-auto add-document-button font-bold"
                                                    (click)="addOtherText()" [hidden]="!(otherTextList.length==(i+1)) ">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button type="submit" title="submit"
                                class="btn btn-lightgreen font-bold company-post-job-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<modal #myModal>
    <modal-content>
        <div class="row">
            <div class="col-md-12 pb-3">
                <h4 class="font-bold mb-0 text-center">Please select plan</h4>
            </div>
        </div> 
        <ng-container *ngIf="previousPlanExpiry">
            <div class="row" [hidden]="isActivePlan==1">
                <div class="col-md-12 pb-3">
                    <p class="font-bold mb-0 text-center text-danger">Your plan is expired choose other plan.</p>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div class="row">
                <ng-container *ngIf="planList.length else plannotfound">
                    <ng-container *ngFor="let plan of planList">
                        <div class="col-xs-12 col-sm-12 col-lg-3 mb-4">
                            <i class="fa fa-check font-size-30 pull-right current-plan" *ngIf="plan.isActive==1"></i>
                            <div class="card plan-card">
                                <img class="card-img-top plan-image" src="assets/img/image.png" alt="Plan Image"
                                    class="card-img" />
                                <div class="card-img-overlay plan-heading text-white">
                                    <h4 class="card-title text-center" [innerHTML]="plan.name"></h4>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{ plan.price == 0.00 ? 'FREE' : '€  '+plan.price}}</h4>
                                    <p class="plan-descrption text-center">
                                        <span class="plan-post-count">{{plan.totalPost}}</span>
                                        <sup class="plan-post-text">POST</sup>
                                        <span class="plan-post-separator">|</span>
                                        <span class="plan-post-valid">FOR {{plan.day}} DAYS</span>
                                    </p>
                                </div>
                                <div class="card-footer plan-card-footer">
                                    <button type="button" [disabled]="freePlanSelected" (click)="onSelectFreePlan(plan.id,freePlanSelected)" *ngIf="plan.price==0" title="Select" name="freePlan" id="freePlan" class="rounded-pill btn plan-button">SELECT</button>
                                    <button type="button"  (click)="openPaymentModel(plan.id)" *ngIf="plan.price!=0" title="Select" name="pricePlan" id="pricePlan" class="rounded-pill btn plan-button">SELECT</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #plannotfound>
                    <div class="col-md-12">
                        <p class="text-center">Plan not found</p>
                    </div>
                </ng-template>
            </div>
            <!-- <div class="row post-job-plan justify-content-center mb-4" *ngFor="let planarray of planList;let i=index">
                <div class="col-md-4" *ngFor="let plan of planarray;let i=index">
                    <div class="card" [ngClass]="{'bg-green':plan.isPlanActive==1}">
                        <i class="fa fa-check font-size-30 pull-right current-plan" *ngIf="plan.isActive==1"></i>
                        <h5 class="text-center font-bold">{{plan.name}}</h5>
                        <div class="text-center">
                            <p class="font-bold pb-1" *ngIf="plan.totalPost!=0">{{plan.price==0.00 ? 'First' : plan.totalPost}} {{plan.totalPost==1 ?
                                'post' : 'posts'}} for {{plan.day}} days {{plan.price==0.00 ? 'free' : ''}}</p>
                            <p class="font-bold pb-1" *ngIf="plan.totalPost==0">Unlimited posts</p>
                        </div>
                        <div class="text-center {{plan.planColor}}">
                            <h1 class="font-bold  text-white mb-0 pt-2 pb-2" *ngIf="plan.price==0">FREE</h1>
                            <h1 class="font-bold  text-white mb-0 pt-2 pb-2" *ngIf="plan.price!=0">€{{ plan.price}}</h1>
                        </div>
                        <div class="text-center  min-height-100 d-flex justify-content-center">
                            <button type="button" [disabled]="freePlanSelected"
                                *ngIf="plan.price==0" (click)="onSelectFreePlan(plan.id,freePlanSelected)"
                                title="Select" name="freePlan" id="freePlan"
                                class="btn align-self-center freePlan btn-sm {{plan.planColor}} text-white font-bold">SELECT</button>
                            <button type="button" [disabled]="plan.isPlanActive==1" *ngIf="plan.price!=0" title="Select"
                                class="btn btn-sm plan600 align-self-center  text-white {{plan.planColor}} font-bold"
                                (click)="openPaymentModel(plan.id)">SELECT</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </ng-container>
    </modal-content>
</modal>
<modal #paymentModal>
    <modal-header>
        <div class="d-flex">
            <div class="">
                <h4 class="mb-0">Payment</h4>
            </div>
            <div class="float-right payment-image-section">
                <img src="assets/img/payment.jpeg" width="150px" />
            </div>
        </div>
    </modal-header>
    <modal-content>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <form novalidate (ngSubmit)="getToken()" [formGroup]="stripeForm">
                        <div class="form-group">
                            <label   class="text-danger" id="message">{{paymentErrorMessage}}</label>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold text-left">Card Number</label>
                            <input type="text" class="form-control" name="cardNumber" formControlName="cardNumber"
                                id="cardNumber" placeholder="Card Number" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardNumber').hasError('required') && (stripeForm.get('cardNumber').touched || stripeFormSubmited)">
                                Please enter card number
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="stripeForm.get('cardNumber').hasError('pattern') && (stripeForm.get('cardNumber').touched || stripeFormSubmited)">
                                Please enter only number
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label  class="font-weight-bold text-left">Card Expiry Month</label>
                            <input type="text" class="form-control" name="cardMonth" formControlName="cardMonth"
                                id="cardMonth" placeholder="Card Expiry Month" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardMonth').hasError('required') && (stripeForm.get('cardMonth').touched || stripeFormSubmited)">
                                Please enter card expiry month
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="(stripeForm.get('cardMonth').hasError('minlength') || stripeForm.get('cardMonth').hasError('maxlength')) && (!stripeForm.get('cardMonth').hasError('pattern'))  && (stripeForm.get('cardMonth').touched || stripeFormSubmited)">
                                Please enter valid month (MM)
                            </div>  
                        </div>
                        <div class="form-group">
                            <label  class="font-weight-bold text-left">Card Expiry Year</label>
                            <input type="text" class="form-control" name="cardYear" id="cardYear"
                                formControlName="cardYear" placeholder="Card Expiry Year" />
                            <div class="invalid-feedback d-block"
                                *ngIf="stripeForm.get('cardYear').hasError('required') && (stripeForm.get('cardYear').touched || stripeFormSubmited)">
                                Please enter card expiry year
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="!stripeForm.get('cardYear').hasError('required') && (stripeForm.get('cardYear').hasError('minlength') || stripeForm.get('cardYear').hasError('maxlength')) && (!stripeForm.get('cardYear').hasError('pattern'))  &&  (stripeForm.get('cardYear').touched || stripeFormSubmited)">
                                Please enter valid year (YYYY)
                            </div>  
                        </div>
                        <div class="form-group">
                            <label  class="font-weight-bold text-left">Card CVV</label>
                            <input type="text" class="form-control" name="cardCVV" id="cardCVV"
                                formControlName="cardCVV" placeholder="Card Cvv" />
                            <div class="invalid-feedback d-block" *ngIf="stripeForm.get('cardCVV').hasError('required') && (stripeForm.get('cardCVV').touched || stripeFormSubmited)">
                                Please enter card cvv
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="!stripeForm.get('cardCVV').hasError('required') && (stripeForm.get('cardCVV').hasError('minlength') || stripeForm.get('cardCVV').hasError('maxlength')) && (!stripeForm.get('cardCVV').hasError('pattern'))  && (stripeForm.get('cardCVV').touched || stripeFormSubmited)">
                                Please enter valid cvv
                            </div>  
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue text-white">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </modal-content>
</modal>

<modal #adminFeeModal>
    <modal-content>
        <div class="row">
            <div class="col-md-12 pb-4 pt-4">
                <p class="font-bold mb-0 text-center">
                    Aviacontractor administration fee is 5% and it will be added to your invoice.
                </p>
            </div>
        </div>
    </modal-content>
</modal>
