<div class="container register-section">
    <div class="row pt-5 pb-5">
        <div class="col-md-4 col-centered text-center">
            <a href="#" [routerLink]="['/']"><img src="assets/img/aviacontractor-logo.png" alt="Logo" title="Logo" class="logo-image"></a>
        </div>
    </div>
    <div class="row pt-5 pb-5 lr-user-icon">
        <div class="col-md-12 text-center pb-5">
            <h1 class="login-register-text">Register</h1>
            <i class="fa fa-user-circle-o font-size-30" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row pb-5 justify-content-md-center">
        <div class="col-sm-6 col-md-4 text-center text-md-right">
            <a class="btn button-1 contractor-lr-button font-weight-bold" [routerLink]="['/contractor']" title="Contractor Login">
                Contractor
            </a>
        </div>
        <div class="col-sm-6 col-md-4 text-center text-md-left">
            <a class="btn button-2 company-lr-button font-weight-bold" [routerLink]="['/company']" title="Company Login">
                Company
            </a>
        </div>
    </div>
</div>